[2019-11-21 11:35] philsturgeon commented on #221
@lottamus is this one still on your radar? I am often asked how people can report issues, and whilst I think adding the Help links has... helped (🤦🏻‍♂️), I think getting white glove service on a big crash is going to go a long way to showing we care, and are on top of things.

[2019-11-21 12:00] chris-miaskowski commented on #232
Hey @P0lip and @StoplightDeb I will test:
- html
- json
- yaml
- markdown

[2019-11-21 12:10] chris-miaskowski commented on #232
Given

[code]

I get

![image.png](https://images.zenhubusercontent.com/5948db0651aa2c3057822fd0/5aa36063-e0b1-4ed9-8798-9e7554debc80)

Do we support yaml files?

Given:

[code]

I get

![image.png](https://images.zenhubusercontent.com/5948db0651aa2c3057822fd0/0dc92445-aba7-4ff8-abf5-de957606c559)

**Stopping here**, looks broken.

Also, should I expect re-formatting when I paste a text to the edi

[2019-11-21 12:15] chris-miaskowski commented on #161
All good, cargo is ready to be shipped!

[2019-11-21 12:45] P0lip commented on #232
I marked a wrong release. 1.7.0 it is

@chris-miaskowski why do you expect a file with invalid syntax to be re-formatted?
The YAML document you pasted has at least 5 syntax errors.

No, as I stated in the description, only files added to Studio via the import feature are supposed to be re-formatted.

[2019-11-21 12:53] chris-miaskowski commented on #232
Ok, thanks for heads up

[2019-11-21 13:00] P0lip commented on #232
My apologies for marking it incorrectly! There's been plenty of changes around branching, and I simply lost track of them. Too many PRs to handle :sweat_smile:

[2019-11-21 15:47] chris-miaskowski commented on #194
Hey @ssspear were all dependencies updated and merged to `release`? I still can't see the examples.

[2019-11-21 16:34] thomasruiz commented on #58
@philsturgeon I'm going to create another issue for this specific problem.

[2019-11-21 16:36] chris-miaskowski commented on #175
Ok, that stopped working right now

![image.png](https://images.zenhubusercontent.com/5948db0651aa2c3057822fd0/f915230f-52ff-4517-998c-b73276bd56c5)

First case when something that did work stopped work after fixes for other issues.
That may mean we need to start retesting stuff.

@marbemac ^

[2019-11-21 16:41] #241 closed

[2019-11-21 18:44] StoplightDeb commented on #239
@P0lip - is this ready to test, or are we waiting for further info?

[2019-11-21 19:46] StoplightDeb commented on #199
@P0lip At last!  It is great, greyed out description icon for refs, can't add description, grand!

[2019-11-21 19:59] lottamus commented on #175
@chris-miaskowski I think you're looking in the wrong spot. We only show operation ID in the forms view

[2019-11-21 20:32] StoplightDeb commented on #175
Looks good on staging

[2019-11-21 22:17] StoplightDeb commented on #194
Looks great, _almost_ there! I see `default` and `example`, but not `deprecated` (screenshot)![Screen Shot 2019-11-21 at 4.14.36 PM.png](https://images.zenhubusercontent.com/5d3efbd1bd5b410bba3cd46d/08586ebe-d9ce-46c2-add4-891b644ddb22)

[2019-11-21 22:25] StoplightDeb commented on #194
- [ ] Example
- [ ] Default
- [ ] Deprecated

[2019-11-21 22:41] P0lip commented on #199
Finally :sweat_smile:
I'm so glad the dependency nightmare is about to come to an end. :laughing:

[2019-11-22 12:14] P0lip opened #253 "Local root JSON pointers are not resolved correctly"
**Describe the bug**
Any root pointer `#` cannot be resolved, result in an error displayed in the diagnostics panel

**To Reproduce**

1. Clone https://github.com/adidas/api-guidelines
2. Checkout branch [this PR](https://github.com/adidas/api-guidelines/pull/22/) was based on
3. Open `.spectral.yml`

**Expected behavior**
Ref is resolved correctly.

[2019-11-22 13:11] chris-miaskowski commented on #240
Just verified on our pre-release environment and all looks good! Good job @ssspear!

![preview-validations.gif](https://images.zenhubusercontent.com/5948db0651aa2c3057822fd0/88f25c18-802f-4638-8621-0ccbce2ff37e)

[2019-11-22 13:22] chris-miaskowski commented on #136
Looks good on staging environment. Coming out in 1.6.0! Good job @P0lip, let's ship it!
All new operations will come with an ID generate from the path and method (snake cased).

[2019-11-22 13:42] chris-miaskowski commented on #175
@lottamus oh yes :facepalm:

[2019-11-22 13:43] chris-miaskowski commented on #194
Yes, also saw that and admittedly this is amazing @ssspear !

[2019-11-22 14:01] chris-miaskowski commented on #108
Assuming that you meant embedded request maker @rossmcdonald it looks good
![image.png](https://images.zenhubusercontent.com/5948db0651aa2c3057822fd0/00d6d47a-16b4-4b78-8161-679cf4b39f59)
I found a bug while testing it https://github.com/stoplightio/studio-internal/issues/1319

[2019-11-22 14:04] chris-miaskowski commented on #239
Hey @StoplightDeb I think that's not what we're supposed to test. Like @P0lip said we should test any file other than spectral.yml. I will give it a look in a sec.

[2019-11-22 14:11] chris-miaskowski commented on #239
Yup, got it now, it looks good on staging. Approving!
![change-file-format.gif](https://images.zenhubusercontent.com/5948db0651aa2c3057822fd0/07ce73e0-7d4b-4d04-97c1-556375f0dde4)

[2019-11-22 14:33] philsturgeon commented on #108
@chris-miaskowski I believe this ticket is about docs not about request maker. When looking at docs it is important that we know what security scheme is required to make a successful request. Request maker is a different thing, also in Read view, but under a different tab than the "Docs" bit in question.

[2019-11-22 14:49] StoplightDeb commented on #239
@chris-miaskowski - can we get people to update the steps to repro in the ticket description so that we don't have to dig through the issue comments? because this was the actual steps to repro provided on the ticket:
<img width="253" alt="Screen Shot 2019-11-22 at 8 48 15 AM" src="https://user-images.githubusercontent.com/53012248/69435319-f46c7400-0d04-11ea-887e-cb0b74c667cf.png">

[2019-11-22 17:11] rossmcdonald commented on #69
It looks like this regressed with the directory layout changes in v1.4.0.

[2019-11-22 20:57] StoplightDeb commented on #194
@chris-miaskowski -
https://stoplight.testrail.io/index.php?/cases/view/5297
https://stoplight.testrail.io/index.php?/cases/view/5298
https://stoplight.testrail.io/index.php?/cases/view/5299
https://stoplight.testrail.io/index.php?/cases/view/5301
https://stoplight.testrail.io/index.php?/cases/view/5302
https://stoplight.testrail.io/index.php?/cases/view/5303
https://stoplight.testrail.io/index.ph

[2019-11-22 20:57] #194 closed

[2019-11-22 21:41] StoplightDeb commented on #164
@chris-miaskowski  - https://stoplight.testrail.io/index.php?/cases/view/5312

[2019-11-22 21:41] #164 closed

[2019-11-24 19:03] P0lip commented on #69
@rossmcdonald
I believe we removed it on purpose, given that `version` is inferred from the filename which is now always displayed. Moreover, we no longer display standalone models in the design tree.
cc @marbemac

[2019-11-24 19:48] StoplightDeb commented on #136
@chris-miaskowski - https://stoplight.testrail.io/index.php?/cases/view/5314

[2019-11-24 19:48] #136 closed

[2019-11-24 19:57] StoplightDeb commented on #240
@chris-miaskowski - this is covered in API Operation Form in TR for Studio. I think we can count those for these cases.

[2019-11-24 19:57] #240 closed

[2019-11-24 20:03] #175 closed

[2019-11-24 20:05] #199 closed

[2019-11-24 20:21] #161 closed

[2019-11-25 10:15] john-doe-2016 commented on #240
Hi @lottamus and all,

This is a good improvement, thanks!

But, if I may: the problem with this implementation is that those parameters are not seen if we chose to 'print' the web page to distribute or publish the generated documentation. I understand your concern not to take too much place on screen though.

Regards

[2019-11-25 13:08] nigelfo commented on #74
Can't open existing projects, saved my work on Friday, can't open on Monday morning. I'm guessing it has auto-updated ?!

I now get the message in console "CANNOT FIND AUTHOR NAME! TRIED: undefined undefined undefined undefined undefined undefined"

The project doesn't load the local file.

If I create a new API in the folder that is fine. If I close and re-open Stoplight it opens the new API file

[2019-11-25 13:14] philsturgeon commented on #253
@P0lip can you grab the exact example in case api-guidelines changes and we can't reroduce it anymore?

[2019-11-25 13:25] P0lip commented on #253
I've extracted the example over here https://github.com/stoplightio/json-ref-resolver/pull/146/ (see tests).
Moreover, added an extra test case I wasn't sure we handled properly.

[2019-11-25 16:16] P0lip commented on #239
@StoplightDeb @chris-miaskowski
You are still welcome to test `.spectral.yml` or `.spectral.json`. My intention was to let you know that Spectral config file is treated a bit differently, i.e. it has its own validation mechanism and therefore messages displayed in diagnostics panel are generated in a different way. Hope that makes sense.
Let me know if you have any questions!

[2019-11-25 19:39] philsturgeon commented on #126
Exporting as a file got done too! Look out for it in an upcoming version. Thanks everyone, especially @mallachari!

![69497311-77184d80-0f16-11ea-972b-8d478ce2cb81](https://user-images.githubusercontent.com/67381/69572020-2b6baf80-0fbb-11ea-9a84-4a022a8fcbee.gif)

[2019-11-26 00:48] pytlesk4 opened #254 "OAS2 - Add a consumes when JSON Request body is added"
When adding a JSON Request, if there is no consumes defined globally for an OAS2 spec, add one.

When adding a JSON Response if there is no produces defined globally for an OAS2 spec, add one.

**Expected behavior**

When there is no consumes defined, but a JSON request body is added, Studio should add a new consumes keyword.

[code]

Currently it does not do that. http-spec doesn't care, but it c

[2019-11-26 00:59] pytlesk4 opened #255 "Adding a response to a OAS 2 Operation, should add a produces if not defined"
**Describe the bug**
When adding a Response to an OAS 2 operation, if produces isn't defined, then add produces with the correct content type to the OAS 2 operation.

**To Reproduce**

1. Create a new OAS 2 document.
2. Create a GET Operation, add a 200 response, with a description and schema
3. View preview, and notice that the description and schema for the 200 response aren't displayed.

**Expe

[2019-11-26 02:08] marbemac commented on #255
Seem to be conflicting issues here. One is more of an enhancement (auto add produces), and one is a clear bug where response description property is not being rendered in the read panel.

Regarding the former, I think trying to auto manage the produces property is more trouble than it’s worth. Can’t add it when response is added - have to wait until response example is added? And then try to detec

[2019-11-26 02:13] marbemac commented on #254
Similar to #255 - seems like both an enhancement and a bug here. We should handle no consumes gracefully in read panel, explorer, try it, etc. Auto managing he consumes property for end user should be handled as a separate enhancement imho.

[2019-11-26 09:48] benjdl commented on #126
Great Job, thank you very much ! ;)

[2019-11-26 16:40] #140 closed

[2019-11-26 16:44] StoplightDeb commented on #239
@chris-miaskowski -
https://stoplight.testrail.io/index.php?/cases/view/5337
https://stoplight.testrail.io/index.php?/cases/view/5338

[2019-11-26 20:06] StoplightDeb commented on #108
@chris-miaskowski -
https://stoplight.testrail.io/index.php?/cases/view/5342
https://stoplight.testrail.io/index.php?/cases/view/5343
https://stoplight.testrail.io/index.php?/cases/view/5344

[2019-11-26 21:23] #163 closed

[2019-11-26 21:57] rossmcdonald commented on #108
This is probably my fault for not specifying, but we should also be displaying global security settings at the endpoint level. @lottamus should I open a separate issue for that, or should I re-open this one?

[2019-11-26 22:09] lottamus commented on #108
@rossmcdonald I've created an issue here: https://github.com/stoplightio/http-spec/issues/44

[2019-11-27 10:07] john-doe-2016 commented on #251
Hi @lottamus ,

OK, thanks for the information. Samples corrected :)

[2019-11-27 12:12] john-doe-2016 opened #256 "See response model in view and documentation"
As a reviewer or developer, I want to see the model (if any) of the returned response, and/or be able to navigate to it (to see samples for example).

At the moment, only an "anonymous" object is seen in view or documentation and it does not help understanding shared objects or the structure of the sample (through examples for example):
![image](https://user-images.githubusercontent.com/20415788/6

[2019-11-27 12:41] john-doe-2016 opened #257 "Add "Security" section to http operation docs"
In the new documentation, security does now appear (at least if based on headers). Is a good thing but it is not clearly stated that it concerns security:
![image](https://user-images.githubusercontent.com/20415788/69722800-4bfd4c00-1118-11ea-829f-ec7fa1cda67c.png)

And in this case, an API key is required, but two types may be used: a read only one, or a full (rw) one. Both use the same header.
!

[2019-11-27 13:03] philsturgeon commented on #146
This one is underway! :D

[2019-11-27 13:06] philsturgeon opened #258 "Add "Other" option to Request Maker server select"
v1.6.0 added the new advanced Try it Now based on Request Maker, but the Server Selector component is missing an "Other..." option. When I first tried it out I thought I was unable to write a custom server, as the UI doesnt make it clear.

<img width="453" alt="image" src="https://user-images.githubusercontent.com/67381/69725880-228ff080-1117-11ea-839d-c756578c785c.png">

1. Switch to using a simp

[2019-11-27 13:13] philsturgeon opened #259 "Publish Looks Cancealable But Isn't?"
I clicked Publish in Studio Desktop v1.6.1 and it looked like I would be able to cancel.

<img width="368" alt="Screen Shot 2019-11-27 at 12 55 20" src="https://user-images.githubusercontent.com/67381/69726076-9e8a3880-1117-11ea-90fb-acee00d84399.png">

After clicking it, it still says Publishing...

<img width="220" alt="Screen Shot 2019-11-27 at 12 55 23" src="https://user-images.githubuserconte

[2019-11-27 19:04] glennblock commented on #146
Great!

On Wed, Nov 27, 2019 at 5:03 AM Phil Sturgeon <notifications@github.com>
wrote:

[2019-11-27 21:32] lottamus opened #260 "Project is created even though cloning fails"
**Describe the bug**
I put in an incorrect URL to clone a repo which resulted in a 404 but the Studio project was still created. Since I cannot open this project, I am unable to remove it from my recent projects list.

**To Reproduce**

1. Open Studio and try to clone a non-existent repo or one you don't have access to
2. Notice you get a 404 but the project is still created

**Expected behavior**

[2019-11-27 21:58] marbemac commented on #260
@wmhilton 👆 just the push we needed to clean up the project registry :).

[2019-11-28 10:09] NikVandewouwer opened #261 "New security schemes are created with the scheme property capitalized ("Bearer") rather than lowercased ("bearer")"
when defining a securityScheme through the gui of type http bearer this is generated:
securitySchemes:
    bearerAuth:
      type: http
      scheme: Bearer
      description: "JWT Token received from Token URL"

However with this the Authorization header is not set by for example swagger-ui. Therefore swagger-ui cannot succesfully pass the security of my api's with "try out" (result is always a 4

[2019-11-28 10:11] NikVandewouwer commented on #261
on top of that if I change in the code editor of stoplight studio Bearer to bearer the UI default back to the first in the dropdown, being Basic

[2019-12-02 09:42] NikVandewouwer opened #262 "Unable to create an array of objects"
When adding an attribute to a model and define it as an array of objects it initiates the first object for me to model. However when I try adding a second object in the array instead it just adds a new attribute to first object.

So I'm unable to add new objects to the array!!!

[2019-12-02 09:47] #262 closed

[2019-12-02 10:04] john-doe-2016 opened #263 "Studio : put again the possibility to have both Form and Code view while editing"
As a designer, I can see or edit the OAS code at the same time I edit in 'Form' view.
While editing, one should have both edit mode readily available.

It is sometime more efficient to update in code view, while checking in form view the result. I feel the 'preview' to be less similar to the form/code (normal, it is a view to read) and alternating from 'form' and 'code' view is a little loss of ti

[2019-12-02 13:06] gianfryBear opened #264 "Remove Body Not Work Properly"
## Describe the bug

When you add a Body to the associate HTTP request and then remove it with "Remove" button in the source code you can find the follow snippet "requestBody: {}" in yaml source code,  which then generate an Error.

## To Reproduce

- Within an OpenAPIv3 specification, add a request body to an operation
- Remove the request body

## Expected Results

- `requestBody` would be absen

[2019-12-02 17:20] rossmcdonald opened #265 "Operation ID generation can be invalid when path parameter is used"
Brackets surrounding path parameters get included in the generated operation IDs. For example, `GET /assets/{assetID}` generates `get-assets-{assetID}`, which then triggers the Spectral warning:

[code]

After reviewing the OpenAPI specification directly, I'm not actually sure if this is a requirement, however it is annoying to have these warnings generated by Studio itself.

Studio should either:

[2019-12-03 05:07] #259 closed

[2019-12-03 15:00] lottamus commented on #257
@john-doe-2016 instead of adding the relevant security to the Headers and Query sections of Docs, what do you think if we just added a "Security" section at the top?

It would be a table similar to it is now but will have all of the information that's in the forms view (key, name, type, scheme, in, description, etc). This will also support types other than apiKey such as oauth2, http, and openIdCo

[2019-12-03 17:02] john-doe-2016 commented on #257
Hi @lottamus ,

I think it would be great: like you said, it would cover other types of security than those based on header.

Regards

[2019-12-03 18:47] StoplightDeb commented on #107
Chrome - ✅
Firefox - ✅
Safari - Currently blocked for testing by https://github.com/stoplightio/studio-internal/issues/1384

[2019-12-03 20:41] StoplightDeb commented on #244
@ssspear - ahoy!  I have a question for you - is the `On this page` section supposed to scroll independently of the main window?  I'm seeing that since the `On this page` section  is longer than the article, the `On this page` column won't scroll until the main window reaches the bottom (and then some) - [Video here](https://drive.google.com/open?id=1FniM94pK59DAN-t7qOJ1RBFuVfbl2RP7) - this is wha

[2019-12-03 22:40] StoplightDeb commented on #265
@P0lip - I see the description here mentions
[code]

I see the word _either_ - can you shed some light on which of these actions is expected in Studio?  Thank you kindly!

Cc: @chris-miaskowski

[2019-12-03 23:52] StoplightDeb commented on #149
@chris-miaskowski - looks like 1.7.0 unless I am missing a merge somewhere.

[2019-12-04 00:24] StoplightDeb commented on #118
Looks great on staging!

[2019-12-04 14:12] P0lip commented on #149
I don't remember. Should be either 1.6.0 or 1.7.0 :laughing:
More likely 1.7.0

[2019-12-04 14:14] P0lip commented on #265
@StoplightDeb I went with being compliant with the Spectral rule, so the following statement is valid

[2019-12-04 14:32] XVincentX commented on #156
@adamculp Can you elaborate more on the "Cannot close the dialog"? I've been trying multiple combination and I've always been able to close it out with no problems.

Do you mean that, when clicking on the X button, nothing happens? Can you move the dialogbox around or is it completely frozen?

[2019-12-04 14:32] rossmcdonald commented on #149
It looks like this is present in v1.6.0.

[2019-12-04 14:44] iamalnewkirk commented on #84
@philsturgeon @marbemac Any updates on this? Previously I conflated "free" with "open source", my mistake.

[2019-12-04 16:46] adamculp commented on #156
I haven't tried the latest version, so maybe it was fixed. However, when I submitted this, the dialog would display over top of everything, and there was nothing to click for closing it. There was no X button at that time.

I'll get the latest version over the next couple days and try again.

[2019-12-04 16:52] adamculp commented on #156
@XVincentX  I decided to get the latest version and knock this out. The latest version dialog closes as expected when you click away from it. So, this appears to be fixed now. Therefore, I will close this ticket with this comment.

Thank you.

[2019-12-04 16:52] #156 closed

[2019-12-04 18:48] StoplightDeb commented on #265
@P0lip - `post-pets-petId-` trailing hyphen ok?

[2019-12-04 18:58] StoplightDeb commented on #253
@P0lip - thank you for clarifying this one, looks good on staging (no issues)

[2019-12-04 20:34] StoplightDeb commented on #149
Looks good on staging (current 1.7.0) too.

[2019-12-04 21:48] StoplightDeb commented on #232
@chris-miaskowski - can you go over your steps to reproduce?  Literally files with a `.txt` extension?  I don't know that this ticket is intuitively clear to me personally.  Also, were all the file types you mentioned above applicable?

[2019-12-04 22:39] rossmcdonald commented on #69
@marbemac I guess it's your call here. I think the aesthetic of listing the version number to the side is appealing and helps differentiate the models better than the raw file names, but I'm fine with letting it go if that's the consensus.

[2019-12-04 23:08] P0lip commented on #265
@StoplightDeb should be fine unless you want me to trim it. :sweat_smile:
Not sure, if that looks confusing to you, it will certainly be confusing to others too, so we in fact may want to get rid of it.
@rossmcdonald whatcha think?

[2019-12-04 23:10] StoplightDeb commented on #265
@P0lip it looks weird to my eyes 😆 like there should be another word after the hyphen

[2019-12-04 23:34] rossmcdonald commented on #265
Let's just trim it.

[2019-12-05 03:30] mrum-cuscal opened #266 "Docs not in alphabetic order"
**Describe the bug**
Once an API is published the output is viewed on the Docs tab.  The list of Model objects is not alphabetic but appears random

**To Reproduce**

1. Create a few model objects
2. Publish docs
3. View docs and see the model objects are not sorted alphabetically

**Expected behavior**
Model objects should be sorted alphabetically

**Screenshots**
If applicable, add screenshots t

[2019-12-05 14:48] P0lip commented on #232
@StoplightDeb @chris-miaskowski
I narrowed down the scope of the task to an actual implementation.

[2019-12-05 16:44] StoplightDeb commented on #232
@P0lip - I think this is good now, thank you for the further clarification!

[2019-12-05 19:33] marbemac commented on #156
Thanks for checking @adamculp!

[2019-12-06 10:37] benaiahjohn commented on #263
This was a great time saver in the previous versions. It would be great to have this feature back.

[2019-12-06 11:33] mallachari commented on #223
@philsturgeon could you verified that again? I can see that current version already adds deprecated keyword both to oas2 and oas3 schema definitions.

![Screenshot from 2019-12-06 19-16-29.png](https://images.zenhubusercontent.com/5d3eb13f99357a3001f5f485/03eaa1a9-2da8-4ab0-81c4-be46849a2dd9)![Screenshot from 2019-12-06 19-29-04.png](https://images.zenhubusercontent.com/5d3eb13f99357a3001f5f485/19

[2019-12-06 16:09] philsturgeon commented on #223
Response schema will contain `deprecated` yes, maybe all schemas, but "parameters" do not, including the request body - which is a parameter in OAS2.

<img width="557" alt="Screen Shot 2019-12-06 at 17 04 53" src="https://user-images.githubusercontent.com/67381/70337132-c9c50400-184a-11ea-9c90-b546ddddfffb.png">

<img width="963" alt="Screen Shot 2019-12-06 at 17 04 44" src="https://user-images.gi

[2019-12-06 17:31] mallachari commented on #223
I get the issue with forbidden `deprecated` key in oas2 (checked specification before) so we can try using `x-deprecated` here.

Regarding the current state of how JSE works, all schemas (if set) contain `deprecated` prop (request, response) regardless of being part of `parameters` or not. Here's example with oas2 body:
![Screenshot from 2019-12-07 01-24-07.png](https://images.zenhubusercontent.co

[2019-12-06 22:57] StoplightDeb commented on #107
Looks good on staging!

[2019-12-09 09:21] philsturgeon commented on #263
Hey, this was removed by popular demand from a bunch of users, so we’re sorry to hear you are missing it.

The concern before was from things being rather confusing, having three different panes meant you often weren’t sure which pane you’d get at first, it wasn’t always clear which pane you were looking at, and selecting a pane that was already open resulted in a confusing swap.

Here’s the backg

[2019-12-09 23:12] carloscbl opened #268 "OpenApi 3.0 missing schema: on adding path variables /user/{username}/tasks"
version 1.6.2
The generated yml is invalid, on path params like:
/user/{username}/tasks/{id}

[2019-12-12 12:05] john-doe-2016 commented on #263
Hi,

For me, it is a great backward step in efficiency: quick corrections in code view, copy / paste operations, ...
I never had any problem with the UX implementation, so I do not know how you could have improved it.
And I do not recall being forced to use the code view by the way. Most of my reviewers and developers did just not used it, and never complained about it getting in the way.

I quick

[2019-12-12 15:32] StoplightDeb commented on #265
@P0lip - Also noticed that if you add the parameter to the `GET`, it doesn't change the operationID.  If you then add a `POST`, `PUT`, `PATCH` etc, those operation IDs will show correctly.  I think whatever operation you start with will NOT have the operation ID automatically created, but subsequent ops will. I only noticed this because the `GET` is the first op created.

[2019-12-12 15:55] nuba opened #269 "Validation against schemas for model and response examples"
**User story.**

As a api designer, I can build model schemas, and response schemas referencing those models. While writing response examples, I'd like to be notified when they're not aligned with the schemas.

**Is your feature request related to a problem?**

Yes, the problem of having to keep schemas and examples in sync manually.

Easy with small and simple apis, but can become a nightmare as

[2019-12-12 15:57] NEJEtherington opened #270 "Toolbar covering most of the screen on Stoplight Studio Desktop / docs not displaying"
The toolbar at the bottom of the page is set such that it is impossible to view or use Studio.  Does not appear to be possible to reduce the size.  The docs pages displays no information whatsoever.

**To Reproduce**

1. Visit [Stoplight docs page](https://stoplight.io/p/docs)
2. Click 'Studio' (see screenshot 1 - clicking on Spectral or Prism gives the same result, as does trying to view the docs

[2019-12-12 16:27] philsturgeon commented on #263
I hear you @john-doe-2016. How people view UI and UX is wildly varied, and every change or improvement for anything will always have people who prefer it, and people who prefer how it was.

Let's get to the root of the problem: it sounds like the form view was what you used for real time feedback, and the preview panel is missing information that you need in order to know that the code changes you

[2019-12-12 16:45] rossmcdonald commented on #270
Studio Web does not support Firefox at the moment. This will be fixed with the v1.7.0 release going out this week, though.

[2019-12-12 17:28] P0lip commented on #265
@StoplightDeb good find, you might be right. I need to check how the default operation gets created. Looking.

[2019-12-13 15:03] rossmcdonald opened #271 "Unable to link from API to Markdown article"
As a docs writer, I should be able to link from an API reference to a Markdown article.

## To Reproduce

Create a link to a Markdown article in a API description. For example, in an endpoint description, add the following Markdown:

[code]

Where `../docs/test.md` is a valid path to a Markdown article.

## Expected Results

Regardless of whether I am viewing published docs or the preview in Studi

[2019-12-13 16:18] rossmcdonald opened #272 "Request Maker should support Bearer security scheme"
Related to https://github.com/stoplightio/studio/issues/108, we don't support all OpenAPIv3 auth methods. For example OpenAPIv3's "[Bearer](https://swagger.io/docs/specification/authentication/bearer-authentication/)" security scheme, which I would expect to be included as an `Authorization` header is not present.

We should review all of the available security scheme formats and make sure that th

[2019-12-13 18:02] immortalpl opened #273 "Undo not works in "form" editor mode"
Undo not works in "form" editor mode

**To Reproduce**

1. Switch to "form" editor mode for path or model
2. Do one of the below actions:
- modify schema
- add response
- add few headers
- add few query parameters
- switch from "JSON body request" to "Form Data"
- add response
- change model
- change description and switch tab from schema to example and from example to schema
- and much more...
3.

[2019-12-13 18:09] immortalpl commented on #272
I also miss "Bearer". In postman sometimes I have to manually modify more than 50 methods to add security support.

[2019-12-13 18:16] immortalpl opened #274 "Can't open other projects in a separate application instances. Empty window appear."
It's not possible to open more application instances to work on a few projects in parallel, for example to compare something. Every next instance is an empty window.

**To Reproduce**

1. Try to open application more one than once.

**Expected behavior**
Few instances with possibility to open different project for each window.

**Actual behavior**
Empty window appear for next instances

**Environm

[2019-12-13 20:07] #249 closed

[2019-12-13 21:31] casserni commented on #112
@wmhilton @P0lip Let's copy over the project settings (top right) into the cog menu

[2019-12-14 10:57] gido commented on #28
OH. I'm using the Stoplight Studio MacOS App and I wasn't aware that only HTTP(S) URLs are supported on an already cloned project (with ssh+git).

So, I'm in favor of the first option too (by disabling the "commit" button and explain why for example).

[2019-12-16 01:07] marbemac opened #275 "Default to bundle strategy when dereferencing"
**User story.**

As a studio user, I can do export the bundled document, so that I can use it in other tools.

**Is your feature request related to a problem?**

Right now we fully dereference the OpenAPI / JSON Schema model when exporting. Bundling will lead to MUCH smaller export sizes, and generally preferred in most cases. In addition, some customers are having trouble exporting from Platform

[2019-12-16 01:12] marbemac commented on #239
@StoplightDeb where did we end up on this? Could you update with latest thoughts on areas to improve, or close if it meets expectations?

[2019-12-16 01:22] marbemac commented on #223
- OpenAPI v2
  - at the operation level: `deprecated` property
  - schemas anywhere else: `x-deprecated` property. NOTE this might require a new option in JSE to control wether `x-deprecated` or `deprecated` is used? Ideally it's not hardcoded for this specific use case, but a little bit more generic so that we can leverage the option(s) for other properties that might differ depending on context

[2019-12-16 09:29] john-doe-2016 commented on #263
Hi @philsturgeon ,

You are missing the point: there are 2 different uses. The first is the design one, the second is the review / implementation one.

For the first, form and code are used, and each have its strong points.
And my point is not an UX one, but the fact that a feature has been removed: being able to interact with both form and code view at the same time, each one being useful for som

[2019-12-16 09:51] mallachari commented on #223
Yup, that's clear, we've talked about that with Phil last week.
There are two issues within this one:
- additional properties don't support multi types - I've already fixed it within https://github.com/stoplightio/studio/issues/237
- using custom JSE props - I've added optional `spec` property for JSE store that is used in transformer to obtain correct schema. So far just `x-deprecated` but we can

[2019-12-16 11:30] philsturgeon commented on #263
Review and Design don't sound so different to me, in both what you seem to be saying could be boiled down to 1) a lack trust in the form view, because 2) the Preview is not showing you enough information. That's easy to solve.

To your specific example, read (docs) is getting security in #257.
Beyond that, I've re-requested the team make default, example, readOnly, writeOnly, etc constrains more c

[2019-12-16 12:24] chris-miaskowski commented on #265
I have double checked and it looks good. I'm so happy you've decided to trim that dangling hyphen. It was weeeird :)

Anyways, signing off!

[2019-12-16 12:33] P0lip commented on #239
It should be good to go now, my apologies for lack of notice.

[2019-12-16 21:12] StoplightDeb commented on #239
Looks good on staging (again/still) 👍

[2019-12-16 21:12] #239 closed

[2019-12-16 22:04] StoplightDeb commented on #188
@mallachari - what release is this?

[2019-12-16 22:05] StoplightDeb commented on #266
@ssspear - is this for release 1.7.0?

[2019-12-16 22:11] mallachari commented on #188
@StoplightDeb I don't see this commit in 1.7 branch so it should go to 1.8 then

[2019-12-16 22:45] StoplightDeb commented on #266
@lottamus - I'm not sure that the changes made it to staging, I am seeing this now (API created, with a bunch of single models for it.  but it's also showing the endpoints?)![Screen Shot 2019-12-16 at 4.41.25 PM.png](https://images.zenhubusercontent.com/5d3efbd1bd5b410bba3cd46d/6c3c09e2-f922-418d-b50b-0a748bb7ccfb)

[2019-12-17 11:25] chris-miaskowski commented on #266
Verified on staging just now, looks good. Moving to approved and will close once tests added to testrails

[2019-12-17 11:52] john-doe-2016 commented on #263
Hi @philsturgeon ,

I have not been clear enough: I do feel too that if the 'doc' view is complete, it is better that the form view.

As for giving devs full access : since there is no "public" documentation, that it is not complete and not 'exportable', I have to give the (full) access to the github yaml file for the devs to have all the information needed to work. And thus there is the (limited)

[2019-12-17 13:52] philsturgeon commented on #203
@sensibleish hey Matt sorry for the delay here. It was actually fixed a while back and replying slipping through the cracks. Our processes for communicating fixes have improved so this shouldn't happen in the future! LMK if it you are still having trouble and we'll reopen this.

[2019-12-17 13:52] #203 closed

[2019-12-17 14:13] philsturgeon commented on #263
Yes I understood this to be what you meant. I answered explaining that docs is becoming more complete, we just merged a few PRs this morning to help.

Public Documentation is available right here: https://stoplight.io/docs/

You can click Publish right from Studio Desktop or Web and it'll update the docs.

Export OpenAPI is available as right click.

<img width="340" alt="image" src="https://user-

[2019-12-17 14:13] #263 closed

[2019-12-17 18:31] #118 closed

[2019-12-17 21:43] StoplightDeb commented on #107
@chris-miaskowski
https://stoplight.testrail.io/index.php?/cases/view/6088

[2019-12-17 21:44] #107 closed

[2019-12-17 21:54] StoplightDeb commented on #244
@chris-miaskowski
https://stoplight.testrail.io/index.php?/cases/view/6090

[2019-12-17 21:54] #244 closed

[2019-12-17 23:15] StoplightDeb commented on #266
@chris-miaskowski , @ssspear - I discovered accidentally that mixing upper and lower cases for the first letter of model names will prevent alphabetization.

Before, a mix of upper and lower case:
![Screen Shot 2019-12-17 at 5.07.29 PM.png](https://images.zenhubusercontent.com/5d3efbd1bd5b410bba3cd46d/c37d783b-405e-49e9-b6ae-f60ebe0f6b0b)

After changing so that all are upper-case:
![Screen Shot 2

[2019-12-18 14:35] chris-miaskowski commented on #266
Yup, standard sorting algorithm will sort upper case first IIRC. I'd hesitate to say it's incorrect. It makes sense to some degree. @lottamus and @ssspear your call!

[2019-12-18 16:07] johnb8005 opened #276 "publish does not work when working with references between `paths` and `models`"
when I started to include reference of models in the output of the api endpoint I was no longer able to publish.

[2019-12-18 16:15] rossmcdonald commented on #276
@johnb8005 Can you provide an example API spec that demonstrates the issue? Also are you seeing any specific error when publishing, or does the output not look as expected? It's not clear exactly what the problem is from your description.

[2019-12-18 16:18] ssspear commented on #266
@lottamus Do you have an opinion? I am ok with it

[2019-12-18 16:45] johnb8005 commented on #276
[code]

[2019-12-18 16:46] johnb8005 commented on #276
above is the whole code (i just removed the `contact` section) and I cannot publish it. I tried with the browser version and the desktop App (Mac)

[2019-12-18 16:58] chris-miaskowski commented on #265
Added into TR: https://stoplight.testrail.io/index.php?/cases/view/6096

[2019-12-18 16:58] #265 closed

[2019-12-18 18:05] mmiask commented on #266
Added 2 tests in TR for this:
https://stoplight.testrail.io/index.php?/cases/view/6097
https://stoplight.testrail.io/index.php?/cases/view/6098

[2019-12-18 23:29] marbemac opened #277 "Switching git branches after commit fail discards changes without warning"
**Describe the bug**

If the commit process fails, then subsequently switching branches will discard changes without notifying the user.

**To Reproduce**

1. Open a git project in studio.
2. Make a change, and commit the change. Make sure commit fails (for example, set branch protection in backing VCS so that cannot push to it).
3. Switch branches, note changes are discarded without warning.

See

[2019-12-19 00:16] lottamus commented on #266
Ah good catch, we should probably sort on the lowercased value

@ssspear let's re-open this one and add a test for that in @stoplight/elements?

[2019-12-19 06:36] login-world opened #278 "An error was encountered while publishing this project, please try again."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

1. Given this OpenAPI document '...'
2. Click this button '....'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (remove any that are not applicable):**
 - Studio

[2019-12-19 11:53] chris-miaskowski opened #279 "Sort models and operations in lexical alphabetical order"
Follow up on https://github.com/stoplightio/studio/issues/266

**Problem with existing solution**

Models and operations starting with capital letters will be displayed first and words starting with lower case letters will be ordered separately. For example:
Ba, Bb, ba, AA, aA
will be sorted as
AA, Ba, Bb, aA, ba

**Solution I would like**

I would like models and operations to be sorted by letter

[2019-12-19 11:53] chris-miaskowski commented on #266
@lottamus since we've already passed QA and release let's close this one. I've created a separate issue for this - splitting up will help us with keeping the records clean :)

Here is the new issue: https://github.com/stoplightio/studio/issues/279

[2019-12-19 11:53] #266 closed

[2019-12-19 13:39] emperorjm opened #280 "An error was encountered while publishing this project, please try again."
I am seeing a totally different API document to that of the one that I created and was viewable earlier this week. When I click to edit the API doc it shows the correct documentation pages but when I try to Publish the document I get the following error:

**An error was encountered while publishing this project, please try again.**

There seem to have been an update yesterday (December 18th) that

[2019-12-19 13:59] hashting commented on #280
Same here!

[2019-12-19 14:12] michaelklopf commented on #280
Hi, we just discovered the same error, the published documentation is gone, with the Overview page showing a document with the url `dummy-api/adira.v1.json`.

@rossmcdonald

[2019-12-19 17:44] mmiask commented on #232
Added test case to TR: https://stoplight.testrail.io/index.php?/cases/view/6102

[2019-12-19 17:44] #232 closed

[2019-12-19 18:24] lottamus commented on #280
@emperorjm @hashting @michaelklopf we ran into an issue yesterday when deploying a new feature which allows publishing multiple branches/groups from the same git repository. We've just pushed up a fix for that publishing error. Can you try again to verify it's working for you all now?

[2019-12-19 18:55] hashting commented on #280
Working again! Thanks.

[2019-12-19 19:22] #280 closed

[2019-12-19 19:32] hashting commented on #279
Why can't we have custom sorting; especially on the operations I think it would make sense. Now I have to add 1. 2. 3. just for ordering reasons.

[2019-12-19 19:34] hashting opened #281 "Able to have a Sample for QueryParameters"
**User story.**
As a documenter, I can create a sample for GET and QueryParameters, so that I can explain the user the sample.

When using POST, PUT etc I can create a sample body. But for GET operations with Query Parameters, there is no way to create a sample Request with QueryParameters.

[2019-12-19 20:24] wmhilton commented on #277
Working theory: changes are still _staged_ after failed commitpush. Not 100% sure why that would fool the conflict detection though, but that's my theory as to the cause.

[2019-12-20 08:43] michaelklopf commented on #280
Yeah, worked, but only after deleting the whole project and cloning it again.

[2019-12-20 10:18] hashting commented on #278
Yes, this was fixed yesterday, and is broken again.
https://github.com/stoplightio/studio/issues/280

[2019-12-20 10:53] philsturgeon commented on #243
@P0lip did this get worked on recently? It seems familiar.

[2019-12-20 13:00] P0lip commented on #243
@philsturgeon nah, unfortunately we haven't improved it yet.
We'd need to do it in json-ref-readers over here https://github.com/stoplightio/json-ref-readers/blob/master/src/http.ts#L5.

Something like
[code]
should be sufficient I believe unless we also want to include the status code

[2019-12-20 13:01] marbemac commented on #277
@wmhilton can you confirm this was fixed and included in 1.7.1?

[2019-12-20 13:03] philsturgeon commented on #243
If we can explain "could not load file "dkfjfhskdf" due to HTTP 500 Internal Server Error" that would be better. Just saying "Forbidden" or "Not Found" would be a little vague I think.

[2019-12-20 13:39] #253 closed

[2019-12-20 13:40] #149 closed

[2019-12-20 13:58] john-doe-2016 commented on #263
Hi @philsturgeon ,

The documentation is not public, one has to have access to Stoplight and (but it may no more be the case?) the YML/project file through git hub to have access to the documentation :
![image](https://user-images.githubusercontent.com/20415788/71259455-c779a400-2338-11ea-8638-ecadeea30a1a.png)
(if not registered)

But maybe now registering to Stoplight is sufficient, I did not te

[2019-12-20 14:04] philsturgeon commented on #263
Docs are public by default once they have been published. Click Publish and you'll be all set.

[2019-12-20 14:43] rossmcdonald commented on #277
@marbemac I have confirmed this is now fixed with v1.7.1.

[2019-12-20 14:43] #277 closed

[2019-12-20 15:50] lottamus commented on #278
@login-world @hashting we're investigating this now. Are you able to give us any more information? Which environment (Studio Web or Desktop) does the error happen in? Does it occur for all projects or a certain one? What's the name of your project?

[2019-12-20 15:50] pytlesk4 commented on #278
@hashting and @login-world can you provide a little bit more information? I am having no issues with publishing at the moment, and think you guys might be running into a different issue than the one that is linked/re opened.

Can you zip up your project and paste it here? Or let me know what the network tab is saying?

[2019-12-20 16:04] hashting commented on #278
Using web; it was working yesterday; I worked on it whole day, and suddenly it was broken; I even tried to revert to previous commits because I thought it was something with the source, but no luck.
project: hashting/third-party-integration

don't see anything special in the network tab.

![image](https://user-images.githubusercontent.com/58006362/71267421-c6ea0900-234a-11ea-814f-030bb3dcd913.png)

[2019-12-20 16:30] hashting commented on #278
FYI Preview itself is working fine!

[2019-12-20 16:32] pytlesk4 commented on #278
@hashting do you see anything for `/nodes.upload`? I would be interested to see the request body for that.

[2019-12-20 17:13] hashting commented on #278
Nope
These are the only entries I see when pushing the Publish button

![image](https://user-images.githubusercontent.com/58006362/71274400-6b247d80-2354-11ea-8408-886e6846b68d.png)

[2019-12-20 17:19] hashting commented on #278
It's a private repo; if you provide email then I can zip the project

[2019-12-20 17:22] pytlesk4 commented on #278
@hashting `tom@stoplight.io`

[2019-12-20 20:22] straley opened #282 "Login State Out-Of-Sync Preventing Logging In"
**Describe the bug**

Somehow the login state of the Ubuntu Studio application became out-of-sync with the internal browser state.  When I try to login, a list of products is shown instead with an already logged in account.

**To Reproduce**

Unable to reproduce.  However, I'm on Ubuntu running Chrome 79.0.3945.79.  I keep two sets of tabs open, one for strictly business-related content and one fo

[2019-12-20 20:56] pytlesk4 commented on #278
@hashting let me know when you email, just want to make sure it doesn't get put into my junk folder.

[2019-12-20 23:01] straley opened #283 "Inconsistencies path endpoint UI"
**Describe the bug**

When creating a GET endpoint the UI display of "Your GET endpoint" can show different values, which can both differ from the Mock URL displayed in the Routes panel.  This is particularly evident if another OS process running on port 3000 forces the mock URL to utilize 3100.

**To Reproduce**
1. Start a service on port 3000
2. Create a new project
3. Create a new GET endpoint

[2019-12-22 11:27] hashting commented on #278
@pytlesk4 check mailbox.

[2019-12-22 19:34] pytlesk4 commented on #278
@hashting thanks, that was immensly helpful. Got a fix, and should get a release out shortly.

[2019-12-22 20:43] lottamus commented on #263
By default, your docs will assume the same permissions as your Github repository. For example if your Github repo is private then your docs will be private.

If you want to make them public, there is a dropdown in your project settings page to change the "Visibilty" level.

<img width="1464" alt="Project_Settings___Stoplight" src="https://user-images.githubusercontent.com/7423098/71327049-25d58c80

[2019-12-23 15:54] lottamus commented on #271
@rossmcdonald are you sure that relative file path is correct? I am not seeing any issue navigating via markdown links

![2019-12-23 09 46 44](https://user-images.githubusercontent.com/7423098/71366989-38070780-2569-11ea-9548-c2c80816d03f.gif)

[2019-12-24 02:55] lottamus commented on #278
@login-world @hashting we've just released Studio v1.7.2 which contains a fix for this error. Thank you for reporting!

[2019-12-24 02:55] #278 closed

[2019-12-26 18:56] straley commented on #282
If you want me to try a few different scenarios in order to try and reproduce this (since I have the culprit configuration), please at-me and we could set up a screen share.

[2019-12-27 19:06] #116 closed

[2019-12-27 21:22] wmhilton commented on #282
@straley can you try updating to 1.7.3 and let me know if we fixed the issue?

[2019-12-31 14:11] johnb8005 commented on #276
@rossmcdonald any updates

[2020-01-02 10:25] wl00215041 opened #284 "Model schema enum display is incorrect if value is 0"
**Describe the bug**

Add number 0 to enum, but not show in enum list.

**To Reproduce**

1. Model -> Schema -> any Attribute -> Additional properties -> enum
2. input 0 and Enter
3. 0 not show in enum list, but I can saw it at YAML

**Expected behavior**
0 of enum should show in enum list

**Screenshots**
![2020-01-02 17-56-58 的螢幕擷圖](https://user-images.githubusercontent.com/8559751/71662146-741d

[2020-01-02 15:01] rossmcdonald commented on #276
@johnb8005 Apologies on the delay, but I'm not able to reproduce the issue. If you try with the latest version of Studio are continuing to see issues publishing? We did release v1.7.0 a little while ago that may have inadvertently fixed something.

And when you say you are not able to publish, can you provide more information on the error you are seeing?

[2020-01-03 15:15] #248 closed

[2020-01-03 15:16] #146 closed

[2020-01-03 15:18] lottamus commented on #146
@glennblock sorry for the delay, this feature has been released with Studio v1.7. You should now see a "Code Generation" tab in the request maker. It offers cURL and a number of other languages. Let us know if there's one that's missing!

<img width="1305" alt="lottamus___vega___Studio___Stoplight" src="https://user-images.githubusercontent.com/7423098/71731256-da48aa00-2e09-11ea-8e5e-aca57a8203fa

[2020-01-03 17:11] cjreitman opened #285 "Hang on push"
**Describe the bug**
Stoplight appears to hang when pushing a commit.  Stoplight then registers that the push occurred, but the commit does not appear in Github (clicking the commit link in the lower left hand corner of Stoplight takes you to the Github 404 page)

**To Reproduce**

1. Make changes to document
2. Click the commit button
3. The circular 'working' graphic appears, and the latest comm

[2020-01-03 18:42] philsturgeon opened #286 "Documenting Callbacks and Webhooks"
**User story.**
As an API designer for an API with callbacks and webhooks (server initiated requests to the client), I would like to describe what those payloads might look like, similar to any other sort of request/response.

**Is your feature request related to a problem?**
OpenAPI v3.0 added callbacks, and OpenAPI recently merged a proposal for webhooks. A proposal is a open call for tooling im

[2020-01-03 18:43] philsturgeon commented on #55
I just made #286 for getting callbacks and webhooks displayed in documentation. Different but related. :)

[2020-01-06 12:34] MonsterRob opened #287 "parameter type error"
[code]
This can be rended by swagger editor

[2020-01-06 14:27] john-doe-2016 commented on #263
Hi @lottamus,

Thank you for this information, I did not know.

Nevertheless, is it planned to decouple this? Having docs and a dev repo with the same security does not seem adequate to me.

Happy new year, and best regards

[2020-01-06 16:47] StoplightDeb commented on #169
@P0lip - I see suggestions from the user and from you and Marc on how to address this, what is the expected behavior with invalid syntax?

[2020-01-06 19:17] StoplightDeb commented on #237
Checked on staging, validation/additional properties can now be added if more than one type is selected 👍

[2020-01-06 23:54] P0lip commented on #169
@StoplightDeb
I implemented suggestions from @marbemac

[2020-01-07 09:56] philsturgeon commented on #263
@john-doe-2016 The docs are a rendering of the API descriptions found in the repo, but making the docs public does not make the source code public.

[2020-01-07 11:31] chris-miaskowski commented on #188
Looks good, will create
[code]
in both cases

[2020-01-07 11:48] chris-miaskowski commented on #223
Approving. Steps to repro and expectations:

- create oas2 api file
- add a path
- add response body to that path and make it deprecated (via forms)
- add request json body and deprecate it
- go to write view
- expect `x-deprecated` keyword added at schema level
[code]

@marbemac @mallachari

I don't think we have a way to deprecate an entire operation from UI, right?
Does the above steps sound go

[2020-01-07 11:59] chris-miaskowski commented on #169
Something's not right @P0lip. See the screencast:

![invalid-json.gif](https://images.zenhubusercontent.com/5948db0651aa2c3057822fd0/550c671d-c7b7-4143-9a16-e20fe716fd3a)

Issue 1 (warning not shown the second time I save invalid json):
- open file (refreshed browser window)
- type invalid json
- press ctrl+s
- shows warning (yay!)
- save
- remove invalid json and save
- type invalid json again, s

[2020-01-07 12:15] chris-miaskowski commented on #272
Hey @lottamus it's marked as 1.8.0 but I've checked on staging and it doesn't seem to be implemented. Was this implemented? If not, please reschedule to 1.9.0.

[2020-01-07 12:43] P0lip commented on #169
That's expected.

Re the second issue - will take a look

[2020-01-07 15:13] lottamus commented on #272
@chris-miaskowski oops yep it's supposed to be 1.9. I'll double check to make sure there aren't any more like that

[2020-01-08 13:58] chris-miaskowski commented on #169
@P0lip any updates?

[2020-01-08 14:02] P0lip commented on #169
@chris-miaskowski
Just tried it out and I cannot reproduce the second issue.
![image](https://user-images.githubusercontent.com/9273484/71983776-d19c0d80-3227-11ea-803a-1089a682d2ef.png)

[2020-01-08 18:23] wmhilton commented on #169
@P0lip it appears that the "Confirm" button is a one-time opt-in-forever kind of deal? E.g. with auto-save if I hit confirm, it'll continue to auto-save invalid JSON in future edits to the file. Makes sense to me.

@chris-miaskowski I think it's basically working as intended, no? Albeit not as the PR description describes it.

[2020-01-08 18:24] wmhilton commented on #169
right right I won't touch the Ready To Test status @P0lip lol.

[2020-01-08 19:11] P0lip commented on #169
Yeah, exactly this. It'd be annoying to confirm each save, wouldn't it?

[2020-01-08 19:18] glennblock commented on #169
Great to see the fixes. I have not gotten to try out the new version yet,
but I will this week!

On Wed, Jan 8, 2020 at 11:11 AM Jakub Rożek <notifications@github.com>
wrote:

[2020-01-09 02:19] daviddfm opened #288 "500 server error trying to read documentation"
Published via design my API successfully but link returns 500 when not logged in.

https://stoplight.io/p/docs/gh/daviddfm/apis?group=master&utm_campaign=publish_dialog&utm_source=studio

[2020-01-09 09:47] chris-miaskowski commented on #169
@P0lip, gotcha, I'm cool with that - let's ship it :shipit:

[2020-01-09 15:03] devsamt opened #289 "Non-JSON response example"
**Describe the bug**
Unable to add a non-JSON response example.

**To Reproduce**
In a path object:
1. Create a response (with any response code)
2. Create a body of type text/plain
3. Create an example
4. Write a non-JSON example
5. Click anywhere to save it
6. An error message is displayed

**Expected behavior**
Example have to follow mime type requirements

**Environment (remove any that are no

[2020-01-09 15:54] philsturgeon commented on #282
It’s been two weeks and we’ve got another release out so I’ll close this. If the problem hasn’t been fixed please let us know.

[2020-01-09 15:54] #282 closed

[2020-01-09 15:57] philsturgeon commented on #169
Let us know if this works Glenn, and if it doesn’t we can reopen the issue. 🙌🏻

[2020-01-09 16:31] straley commented on #282
I haven't been able to recreate the problem.

On Thu, Jan 9, 2020 at 9:54 AM Phil Sturgeon <notifications@github.com>
wrote:

[2020-01-09 19:43] rossmcdonald opened #290 "Read/Preview ignores "example" on model properties"
When properties in the schema object contain an `example` property we complete ignore it in Preview.

## To Reproduce

Use the specification:

[code]

## Expected Results

~The provided example would appear in an example tab~ examples tab is for response examples not property examples.

## Actual Results

No examples are displayed. Also this strange pop-over appears if you mouse over the object va

[2020-01-10 06:22] AgrimPrasad opened #291 "[Web/Mac desktop] In Preview mode, API Overview page is no longer clickable once one of the endpoints have been clicked"
**Describe the bug**
In Preview mode, API Overview page is no longer clickable once one of the endpoints have been clicked. Reproducible in both web version and Mac desktop version.

**To Reproduce**

1. Given any default OpenAPI document loaded in a sample project (e.g. Swagger Petstore)
1. Click on the Publish -> Show Preview button
1. On clicking any API Overview page, the page loads fine.
1. H

[2020-01-10 09:58] NikVandewouwer commented on #261
@lottamus  when willl this bug be included?

[2020-01-10 13:30] john-doe-2016 commented on #263
@philsturgeon, what I understood is that to have the docs public, the repo has to be public. I did a unsuitable shortcut in my message it seems.

But it does not change the fact that using a repo based security does not seem adequate to me. First, we are not Git pro users, and I did not found how to restrict access to read only to the repo.
But we should be able to give access to the docs (or, oth

[2020-01-10 14:42] johandalabacka opened #292 "Default value not correct type"
Then setting a default value for Query parameter of type number/integer/boolean is the default value created as a string in the yaml-file

[code]

The same error shows for Path params also. However for default in Models is it the correct type but then is the example field of wrong type

[code]

The program itself detects this and shows it as issues

| Type | Line | Message|
|------|-----|---------

[2020-01-10 18:17] philsturgeon commented on #263
Nope, if you use Stoplight Docs, they are only public, regardless of your GitHub repo membership type, settings, or anything else.

If you use our enterprise offering Hubs, you get a lot more options, like Private docs, access can be configured by SSO, manual invitations, all sorts.

There is a lot of advanced functionality Stoplight can offer but it seems like you don't need any of it. Your use c

[2020-01-10 18:49] mmiask commented on #237
Added a new test to TR.
https://stoplight.testrail.io/index.php?/cases/view/8198

[2020-01-10 18:49] #237 closed

[2020-01-12 10:40] jamierumbelow opened #293 "Incredibly low-urgency UI improvement: deleting method de-selects path"
**Describe the bug**

Given a path with more than one HTTP method, when a method is deleted, Studio jumps back to the 'API overview' page in a way I find irritating.

**Expected behavior**

This is a taste thing, but it would perhaps feel more natural if it would keep the path selected, and change to the nearest method to the left.

[2020-01-13 18:16] mmiask commented on #223
Created/modified test cases in TR:
https://stoplight.testrail.io/index.php?/cases/view/5307
https://stoplight.testrail.io/index.php?/cases/view/8203

[2020-01-13 18:16] #223 closed

[2020-01-13 18:47] mmiask commented on #188
Updated a test case for this issue:
https://stoplight.testrail.io/index.php?/cases/view/1695

[2020-01-13 18:47] #188 closed

[2020-01-13 18:50] chris-miaskowski commented on #169
I will reopen for bookkeeping, want to add some test cases before I close. Other than nothing to watch here ;)

[2020-01-14 16:22] lottamus commented on #291
Hey @AgrimPrasad thanks for reporting this issue! I can confirm this bug is limited to just the Studio Preview feature. It does not happen for the published project. You can see an example of a published project here: https://stoplight.io/p/docs/gh/stoplightio/studio-demo/reference/petstore/openapi.v1.yaml

Though I'll make sure we get this Preview bug fixed for Studio v1.9.0

[2020-01-14 16:26] rossmcdonald opened #294 "Desktop > 500 when attempting to clone from an invalid URL: Could not find any entity of type "ExternalService""
## To Reproduce

- From Studio desktop, attempt to clone from an invalid URL: https://asidnalsdkjn.com/dasdasd/asdsad.git

## Expected Results

Since this is not a valid URL, I should receive an error letting me know that the URL is invalid or it can't clone the repo.

## Actual Results

A 500 error is displayed, and this is logged in the console:

[code]

What's funny is that if I attempt to clon

[2020-01-14 17:18] mmiask commented on #169
Created a new test case in TR: https://stoplight.testrail.io/index.php?/cases/view/8205

[2020-01-14 17:18] #169 closed

[2020-01-14 17:22] lottamus commented on #261
@NikVandewouwer this issue has been fixed and will be included in Studio v1.9.0 which will be released Jan 29th

[2020-01-14 18:55] josephgardner commented on #202
Same issue with rendering `securitySchemes`. Want a new issue, or does this cover all missing cases?

[code]

![image](https://user-images.githubusercontent.com/1297859/72372983-6cd42d80-36d5-11ea-8a21-9aeb7da2c2b0.png)

[2020-01-15 05:32] krishnajangid opened #295 "Type should not take array of values"
In below give example From UI form we can add multiple types like type can be string or number
[code]
But actually Swagger Spec does not allow multiple types for the same field.

## How to reproduce:
[code]
The above code is valid in stoplight's studio. But it throws an error on https://editor.swagger.io/

[2020-01-15 06:30] schmurgon opened #296 "OAS 3.0 request examples not displaying in preview"
**Describe the bug**
Request body examples aren't displaying in Preview mode

**To Reproduce**

1. Given this OpenAPI document
[code]
2. Click Preview

3. See error

**Expected behavior**
The request body example shown in form view (and code above) should be included in the request next to the Schema tab (same as the response)

**Screenshots**
Note request example is missing.  Response example is

[2020-01-15 11:25] philsturgeon commented on #202
@josephgardner unfortunately that is not valid OpenAPI. Whilst it seems like you should be able to put a $ref wherever you want, you can't. It can only go in places where OAS says you can place a "Reference Object". Check it out https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#security-scheme-object

Some tooling _will_ just let you $ref wherever, but that's going to caus

[2020-01-15 12:46] josephgardner commented on #202
@philsturgeon I'm actually referring to the components object; every property can be a reference (including `securitySchemes`)

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#components-object

[2020-01-15 12:49] philsturgeon commented on #202
Aha! Ok, thanks for clearing that up for me. Let's make a new issue for this.

[2020-01-15 12:51] philsturgeon opened #297 ""Components" should support Reference Objects"
All components are allowed to contain a reference object for a collection of components, for example:

[code]

Forms gets a bit confused in this case:

![image](https://user-images.githubusercontent.com/1297859/72372983-6cd42d80-36d5-11ea-8a21-9aeb7da2c2b0.png)

_Originally posted by @josephgardner in https://github.com/stoplightio/studio/issues/202#issuecomment-574320367_

See the OAS 3.0 specifi

[2020-01-15 14:15] johandalabacka commented on #295
On https://swagger.io/docs/specification/data-models/data-types/ under mixed types this is how you should do it:

**Mixed Types**
type takes a single value. type as a list is not valid in OpenAPI (even though it is valid in JSON Schema):
# Incorrect
[code]
Mixed types can be described using oneOf and anyOf, which specify a list of alternate types:
# Correct
[code]

[2020-01-15 14:52] BigBlueHat commented on #230
Currently Stoplight is rewriting all our wrapped description content from folded block scalar style using `>` into very long single line single-quoted strings.

I've not found a setting in Studio or Spectral to prevent this rewriting, but would love to be able to keep Spectral consistent with our preferred output.

Thanks!

[2020-01-15 14:57] BigBlueHat opened #298 "Stoplight unnecessarily rewrites response codes from numbers to strings"
**Describe the bug**
Currently, Stoplight will quote all HTTP status codes if they've previously been written as numbers. This seems due to this bug: https://github.com/stoplightio/yaml/issues/34

It'd be great to be able to use numbers for status codes--or at least not to have them rewritten.

**To Reproduce**

Given this OpenAPI document:
[code]
Stoplight rewrites it to:
[code]

**Expected behav

[2020-01-15 16:40] john-doe-2016 commented on #263
Hi @philsturgeon ,

Indeed, we are not (yet ? :)) customers of your subscription.

And I guess I am not very explicit in my messages: I can not have the docs public, it would be a fault since they are the property of the company.
So I would need some way to have users registering on your site, and use those for access control.

Well, you gave me the information that it is available in the subscrip

[2020-01-15 18:50] lottamus commented on #288
@daviddfm I'm seeing your docs loading correctly now. Can you verify if this is still an issue on your end? Also, have you made any changes or publishes recently that might have resolved this?

[2020-01-15 19:04] daviddfm commented on #288
It’s now working. I don’t know what change made it work. Feels like it was some cookie or state issue with my account

david

[2020-01-15 19:17] philsturgeon commented on #263
Hubs does this which is part of our Next toolsuite, and Hubs v2 is coming along which helps with ACL for docs.

[2020-01-15 19:25] philsturgeon opened #299 "Import rewrites YAML multi-line content"
Currently Stoplight is rewriting all our wrapped description content from folded block scalar style using `>` into very long single line single-quoted strings.

I've not found a setting in Studio or Spectral to prevent this rewriting, but would love to be able to keep Spectral consistent with our preferred output.

Thanks!

_Originally posted by @BigBlueHat in https://github.com/stoplightio/studio

[2020-01-15 19:25] BigBlueHat opened #300 "Importing an API still puts it under `resources/`"
**Describe the bug**
Issue #57 removed the requirement for API docs (et al) to be stored in a `resources/` folder. However, importing an API from within the current working directory will still move it under `resources/` requiring the developer to then move it back out of `resources/`.

**To Reproduce**

1. Create a project from an existing folder containing one or more `.yaml` files
  - The files

[2020-01-15 19:26] philsturgeon commented on #299
Could you provide a little more information on what is wrapping where and when? Are you mixing Form and Code usage, just code? Does it happen on save or some other trigger?

<img width="527" alt="image" src="https://user-images.githubusercontent.com/67381/72464087-8e641080-37cc-11ea-9f9e-5ba2e8101c74.png">

I can create > multilines just fine. Please can you elaborate on the steps taken to reprodu

[2020-01-15 19:27] philsturgeon commented on #230
Let's discuss this on #299 because the word wrapping being discussed here is a visual effect, butit seems like you're talking about YAML rewriting.

[2020-01-15 19:34] BigBlueHat commented on #300
Related to this, loading an existing folder full of OpenAPI specs in YAML format requires a developer to go through the import step for each YAML file...and move them back out of the newly created `resources/` folder.

It would be fabulous to have Stoplight either detect the `.yaml` files which are API specs, or allow the developer to "toggle" them to be treated as APIs...or something with fewer s

[2020-01-15 20:02] BigBlueHat commented on #299
@philsturgeon I've mostly noticed it when importing. All the descriptions get rewritten to single quotes single lines...at least if they don't have hard returns in them.

When editing in the Form area, anything that gets a hard return will end up in `description: |-` with multiple lines, but "hard wrapped" multi-line content with no hard returns using `description: >` will get rewritten to `descri

[2020-01-16 03:40] mrum-cuscal opened #301 "Stoplight Studio/Doc does support array[string] with enumerations."
Existing json swagger supports an array[string] with enums.

[Stoplight Issue.docx](https://github.com/stoplightio/studio/files/4069214/Stoplight.Issue.docx)

[2020-01-16 04:12] krishnajangid commented on #295
Thanks. Makes sense. Can Stoplight support this ?

[2020-01-16 11:37] john-doe-2016 opened #302 "Strings are converted to numbers in samples if they begin by 0"
**Describe the bug**
An attribute is specified as a string :
![image](https://user-images.githubusercontent.com/20415788/72521529-e39b3300-385b-11ea-95bf-463c7c5dcf57.png)
But in the samples, it keeps being converted to a number.
I input:
![image](https://user-images.githubusercontent.com/20415788/72521595-0594b580-385c-11ea-93e1-1f2276bc9ba8.png)
And as soon as I exit the input field, it is conve

[2020-01-16 14:31] philsturgeon commented on #299
Thanks for the extra detail. Somebody should swing by to take a look at this when they're available.

[2020-01-16 14:52] rossmcdonald commented on #301
@mrum-cuscal Thanks for bringing this to our attention. It looks like enums set on array[string] values are applied to the array instead of the string property. Is that the issue you are seeing as well?

For example:

<img width="605" alt="image" src="https://user-images.githubusercontent.com/4060903/72534949-50eb9b80-383d-11ea-9078-f0858526504c.png">

Results in:

[code]

When it should be:

[cod

[2020-01-17 23:20] #168 closed

[2020-01-20 15:17] john-doe-2016 commented on #263
OK, thank you

[2020-01-20 17:53] john-doe-2016 opened #305 "Fields in yaml model are sometimes in the wrong order in the form view and docs"
I updated the name of an embedded submodel in a model, in code view.
In the yaml, we have :
![image](https://user-images.githubusercontent.com/20415788/72741069-30a63e80-3ba7-11ea-80b7-de185ff283a6.png)
And in the generated doc, it is now the last attribute:
![image](https://user-images.githubusercontent.com/20415788/72741162-5c292900-3ba7-11ea-9f58-90510503745e.png)
This is true in the model view

[2020-01-21 20:22] lottamus commented on #298
@BigBlueHat are you using OpenAPI v2 or v3?

OpenAPI v3 requires that response status codes are enclosed in quotations:

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#patterned-fields-1

It looks like OpenAPI v2 doesn't have the same restriction though:

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#patterned-fields-3

[2020-01-22 06:41] lottamus commented on #300
Hey @BigBlueHat,

We are currently working on adding support for configuring the default directory for new files. You'll be able to configure the directory based on the file's type (openapi, markdown, etc). For example, right now the hardcoded default for "openapi" files is the "reference" directory. Furthermore, you'll be able to configure which directories and files paths are included/excluded f

[2020-01-22 06:54] lottamus commented on #171
Closing this as now we have labels for description and operation id 🎉

![image](https://user-images.githubusercontent.com/7423098/72871935-b4e4e880-3cb1-11ea-847f-2d103e650aa6.png)

[2020-01-22 06:54] #171 closed

[2020-01-22 06:57] #148 closed

[2020-01-22 07:08] lottamus commented on #139
Closing in favor of https://github.com/stoplightio/studio/issues/135

[2020-01-22 07:08] #139 closed

[2020-01-22 07:11] lottamus commented on #152
Unfortunately we have not fixed this issue yet but it's on our radar! I'm going to close this issue to consolidate with https://github.com/stoplightio/studio/issues/135

[2020-01-22 07:11] #152 closed

[2020-01-22 07:22] lottamus commented on #270
@NEJEtherington are you still seeing this issue?

[2020-01-22 07:28] lottamus commented on #268
@carloscbl this bug has been fixed in v1.8.0. Please re-open if the issue still occurs for you

[2020-01-22 07:28] #268 closed

[2020-01-22 07:30] lottamus commented on #260
This is no longer an issue in v1.8.0

[2020-01-22 07:30] #260 closed

[2020-01-22 07:33] #246 closed

[2020-01-22 09:38] bastienu opened #307 "Publish impossible"
When I click on "Publish" this message is displayed :
"An error was encountered while publishing this project, please try again."

I have no issues detected in my yaml.

Can you solve this problem ?

Thanks.

[2020-01-22 11:45] r1ckr opened #308 "Example references are not working in form mode"
**Describe the bug**
When creating examples to reuse in the same file or another file, it is not shown in the studio.

**To Reproduce**
Create an example under components:
[code]

Now add the reference in the operation:
[code]

You can see `example-1` in the form section, but you cannot see the value or the reference to it.

In the docs it shows OK though.

**Expected behavior**
I am expecting to

[2020-01-22 12:50] NEJEtherington commented on #270
@lottamus no, everything looks to be displaying correctly now. Thanks!

[2020-01-22 12:51] SaintRain opened #309 "Bug when trying to publish"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

1. Given this OpenAPI document '...'
2. Click this button '....'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (remove any that are not applicable):**
 - Studio

[2020-01-22 14:44] rossmcdonald commented on #307
@bastienu Does this error happen consistently? If so, can you open your browser's developer tools and look at the Network tab or Console to see if there is more information listed?

[2020-01-22 14:45] rossmcdonald commented on #309
Please provide more information on the issue you're seeing.

[2020-01-22 14:45] #309 closed

[2020-01-22 14:49] #270 closed

[2020-01-22 18:55] lottamus opened #310 "Don't force lowercase filename when creating new files via context menu"
**Describe the bug**

When creating a new file via the Docs and APIs trees, the filename is forced to be lowercased.

Also if I include the extension when naming the file, I wouldn't expect the extension to be added behind that.

**To Reproduce**

1. Open Studio to the APIs or Docs tree
2. Right click and create a new Article, API, or Model
3. Name the file with all uppercase letters and include t

[2020-01-22 19:01] lottamus opened #311 "Add the API and Docs tree context menu items to the Files tree"
**User story.**
As a user, I can use the context menu to add an API, Model, or Article while on the Files tree.

**Describe the solution you'd like**

- The APIs tree has a few specific context menu items: "New API" and "New Model"
- The Docs tree has a one specific context menu item: "New Article"
- The Files tree has a few specific context menu items: "New File" and "New Folder"

I suggest updat

[2020-01-22 19:41] lottamus opened #312 "Add option to export file as a different format (JSON/YAML)"
**User story.**

As a user, I can export a YAML file as JSON, so that I can write using the language I prefer and export the file in the format I need.

**Is your feature request related to a problem?**

I prefer to write YAML and YAML files are easier to view in a git diff. But a lot of external tools require JSON format.

**Describe the solution you'd like**

Rename the existing "Export OpenAPI"

[2020-01-22 21:16] rowa97 opened #313 "Clicking Docs for a Project without a connected git repo renders a 500 error"
**Describe the bug**
Clicking the Docs header for a project without a connected git repo renders a 500 error.

**To Reproduce**

1. Create a project without a git repo
2. Click the Docs header button

**Expected behavior**
Preview the projects docs.

**Screenshots**
![docs-error](https://user-images.githubusercontent.com/29557510/72934948-1f396f80-3d2a-11ea-904b-fcc3c0b0758c.gif)

[2020-01-23 15:48] BigBlueHat commented on #298
Ah. Very strange of them (OAS) to make this a requirement (as YAML to JSON conversion is a known process...)...but clearly...that's not y'all's fault and the rewriting now makes sense.

Much appreciated!

[2020-01-23 15:48] #298 closed

[2020-01-23 16:13] BigBlueHat commented on #298
For those stumbling across this issue in the year 2049, here's one (of a few) issues in the OpenAPI specification repository for the reasoning behind this limitation:
https://github.com/OAI/OpenAPI-Specification/issues/1752

Additionally, it turns out this is part of the core YAML spec and is known as the "[failsafe ruleset](https://yaml.org/spec/1.2/spec.html#id2802346)" which is referenced from

[2020-01-23 21:42] marbemac opened #314 "If error occurs during auto update check, do not show alert to user"
**Describe the bug**

We check for updates in the desktop app on a regular interval (not user initiated via check for updates button). If there is an error during the auto update check, do not disrupt the user with an alert (see image below). Note that if there is an error when the user manually checks for update, we should still notify the user via alert etc as we do now.

**Screenshots**

<img w

[2020-01-24 08:57] bastienu commented on #307
Hi. Here is the console error.

![Capture d’écran 2020-01-24 à 09 56 37](https://user-images.githubusercontent.com/1685778/73056641-def40180-3e8f-11ea-8d15-2ac180c4d1c7.png)

I don't have anything else :-(

[2020-01-24 21:43] BigBlueHat opened #315 "Stoplight doesn't "detect" API files if numeric keys are used"
**Describe the bug**
If an OpenAPI document uses unquoted numbers for HTTP status codes, that API document will not be detected by Stoplight. Adding single quotes around the codes fixes the issue. Magically.

**To Reproduce**

1. "Open an existing folder" with one or more API docs in it
2. Stoplight will detect any of them that are properly using failsafe YAML (i.e. quote their status codes).
3. S

[2020-01-24 21:56] KatamariJr opened #316 "Changing a path does not update the mock server path"
**Describe the bug**
Changing a path does not update the mock server path, the mock server route stays at the previous path.

**To Reproduce**
1. Given this OpenAPI document
[code]

2. Enable the Mock Server by clicking the 'Mock Server' button.
3. Change the path from '/test' to '/different'

**Expected behavior**
The mock server path should update to be at '.../different', but it still receives

[2020-01-25 10:46] milad7ha opened #317 "My API is removed"
I had account on stoplightio whit email ....@tinextco.com
I can recover my email.
1. forget password? click here
2. enter email
3. email dose not send

also I have another account milad6...@gmail.com
I receive could recover my account but my API which I designed it, disappeared and I saw nothing.

All my project where on that

[2020-01-27 19:16] BigBlueHat opened #318 "Support linking to and editing of `externalDocs.url`"
**User story.**
Sadly not all our API docs are in API docs. :wink: Consequently, we use OAS's `externalDocs.url` option to link to internal wikis, etc. Sadly, we can't see them in Stoplight (other than in the Code view).

**Is your feature request related to a problem?**
It's harder than it should be to move between Stoplight and existing documentation referenced via `externalDocs.url`.

**Describ

[2020-01-27 19:37] rossmcdonald commented on #317
@milad7ha Can you open send an email to support@stoplight.io with your account information? We can take a look to see what might have happened.

[2020-01-27 19:37] #317 closed

[2020-01-27 20:32] adamreisnz opened #319 "When creating an example for a number type property the example is created as a string instead of a number"
**Describe the bug**
When creating an example for a number type property the example is created as a string instead of a number.

**To Reproduce**
Create a new property, select number type, edit additional properties, enter example number `5`

**Expected behavior**
For the example data to be in the correct number format, not string, producing valid YAML.

**Screenshots**
![image](https://user-imag

[2020-01-28 08:09] P0lip commented on #315
@BigBlueHat
We should be [reporting](https://github.com/stoplightio/yaml/blob/master/src/parseWithPointers.ts#L329) those kind of errors.
![image](https://user-images.githubusercontent.com/9273484/73245915-f4469400-41df-11ea-84e2-e844e92928e6.png).

Could you hand me over a small YAML document that is lacking errors?

[2020-01-28 10:48] adamreisnz opened #320 "Publish to a custom domain"
**User story.**
As a company, I want to host the generated API docs on our own domain with our own branding, so that our API consumers feel like they are looking at our own product.

**Describe the solution you'd like**
- Able to have auto generated API docs publishable to our own domain
- Able to have custom branding of API docs
- Able to have some additional customisation options like fonts, col

[2020-01-28 11:53] chris-miaskowski commented on #257
Hey @lottamus, hi @ssspear is that going out in 1.9.0? I didn't a PR to platform-internal. If yes, can you please link that to a relevant PR? I don't recall that feature and would like to double check it got to the on-prem.

[2020-01-28 11:55] chris-miaskowski commented on #279
Howdy @ssspear and @lottamus I can see a PR to elements but was this integrated into platform? The release says 1.9.0 and I want to double check on-prem.

[2020-01-28 12:33] chris-miaskowski commented on #257
Actually, no need to follow up - all good in 1.9.0.

[2020-01-28 12:33] #257 closed

[2020-01-28 13:01] chris-miaskowski commented on #279
Hey @ssspear I've tested on Version 1.9.0-build.9803 (532343f) and the sorting doesn't work for embedded models. However, it does for standalone. See the screenshot:

![image.png](https://images.zenhubusercontent.com/5948db0651aa2c3057822fd0/3c26b42b-999d-4f82-81d1-6b95c455d7f6)

I suggest we postpone this to next release. I haven't checked on `master` btw.

Moving back to In Progress.

[2020-01-28 13:05] chris-miaskowski commented on #271
Closing, will be tested in regression suite

[2020-01-28 13:06] #271 closed

[2020-01-28 13:12] #261 closed

[2020-01-28 13:12] chris-miaskowski commented on #261
Looks good in RC, closing

[2020-01-28 13:30] chris-miaskowski commented on #108
I reopened this issue. I looks like the issue description is not entirely valid.

[code]

This is not a valid OAS3 file ^

Specifically,
[code]

Is not something one can put on an [Operation](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#operationObject). `security` should be of type [Security Requirement Object](https://github.com/OAI/OpenAPI-Specification/blob/master

[2020-01-28 13:40] chris-miaskowski commented on #272
Looks good in 1.9 RC
Added test C8256

[2020-01-28 13:40] #272 closed

[2020-01-28 14:03] #313 closed

[2020-01-28 14:03] chris-miaskowski commented on #313
Looks good in 1.9 RC, closing!

[2020-01-28 16:08] lottamus commented on #108
@chris-miaskowski the issue description is referring to the IHttpOperation interface which is used to power docs and the request maker: https://github.com/stoplightio/types/blob/master/src/http-spec.ts#L32-L41

[2020-01-28 16:08] #108 closed

[2020-01-28 16:28] StoplightDeb commented on #291
Looks good in 1.9.0, closing this one.

[2020-01-28 16:28] #291 closed

[2020-01-28 21:25] lottamus commented on #320
Hey @adamreisnz,

Custom domains, theming and branding are all in our [planned roadmap](https://stoplight.io/p/roadmap)!

I'm interested to know if there are any specific parts of the page you are looking to customize other than the logo and buttons, links, text, and background colors? Thanks!

[2020-01-28 22:58] adamreisnz commented on #320
Excellent, thank you, and nice to see you are using productboard.

Other than what you mentioned, yes perhaps the menu style, tables etc. It would be great if we could somehow overlay some custom CSS on top of what you've built so we can tweak just about anything we'd like really.

But I'll be happy if we can just adjust the basics initially, like logo, links, text etc.

Thanks!

[2020-01-29 21:13] StoplightDeb commented on #215
@mallachari - I am still seeing weirdness when modifying the path parameter.  Instead of going to the API root, it jumps back to the `Name...` field. [Video](https://drive.google.com/open?id=17D3BdXvi23W_MRkb-DCazAwRFMTqgGIj)

[2020-01-29 21:17] StoplightDeb commented on #284
Looks good 👍

[2020-01-29 21:17] #284 closed

[2020-01-30 10:46] philsturgeon commented on #295
Yeah we're going to get this one sorted out. One of the many bits of confusion that https://github.com/OAI/OpenAPI-Specification/pull/1977 will solve for OpenAPI v3.1, but in the meantime we have an issue to hack around it. https://github.com/stoplightio/studio/issues/295

[2020-01-30 10:46] #295 closed

[2020-01-30 14:17] mallachari commented on #215
@StoplightDeb this happens as the component is rerendering because of new path node. It's unrelated to this issue and quite difficult to overcome. The focus on name happens because of autofocus but changing it wouldn't help as it still needs to rerender.
@chris-miaskowski do you agree?

[2020-01-30 15:46] StoplightDeb commented on #215
@mallachari - I see - I thought it could be related as clicking on param properties still jumped elsewhere 😆 Will wait for @chris-miaskowski opinion.

[2020-01-30 22:11] bastienu commented on #307
Hey, this is because the account I was connected with was not the owner but only a collaborator of the repository... Maybe you could display a message, or authorize collaborators to publish ?

[2020-01-31 11:45] chris-miaskowski commented on #279
@lottamus FYI I removed the 1.9.0 release version from it.

[2020-01-31 12:02] chris-miaskowski commented on #283
Looks good in the 1.9-rc!

[2020-01-31 12:17] #283 closed

[2020-01-31 12:43] chris-miaskowski commented on #215
@mallachari is right, it's unrelated but great spot @StoplightDeb.

The fix is actually awesome, we had that bug for a looong time and it wasn't trivial to fix. Good job @mallachari!

Closing as looks good in RC. No new cases in regression.

[2020-01-31 12:43] #215 closed

[2020-01-31 16:33] johandalabacka opened #322 "Setting security for whole API / override it with no security on individual paths"
It isn't possible to apply a security schema for the whole API

[code]

and I can't override this by setting an empty security for an individual path

[code]

however if an empty security exists is it displayed as:

Overriding global security, setting this operation to NO security.

But I cannot set it like this in the Form

[2020-01-31 20:52] #314 closed

[2020-02-02 03:00] johandalabacka commented on #319
Also reported in issue #292

[2020-02-03 13:37] OpenTech2Me opened #323 "When trying to login, the popup opens then closes right away. Unable to login."
**Describe the bug**
When trying to login, the popup opens then closes right away.  Unable to login.  Using Windows 10

[2020-02-04 06:54] marbemac commented on #323
Hi @OpenTech2Me, could you share a bit more information?

- Studio Web or Studio Desktop?
- Which version of Studio?
- If you open the developer tools (`View -> Toggle Developer Tools`), do any errors show in the `console` tab when trying to login?
- Have you customized the value of the `Stoplight Enterprise API Url` value in the `settings` screen (accessible via little cog icon in bottom left)?
-

[2020-02-04 07:13] marbemac commented on #322
@johnrazmus I suggest the following here:

The operation form already supports setting one or more security schemes:

<img width="682" alt="Screen Shot 2020-02-04 at 1 02 35 AM" src="https://user-images.githubusercontent.com/847542/73721708-78ba7a80-46ea-11ea-91c9-b1c4cb0f473e.png">

- [ ] Let's add a "No Security" option that is simply sets it to an empty array value, as described by @johandalaba

[2020-02-04 20:16] rossmcdonald opened #324 "Updating Studio Desktop on Windows removes pin from taskbar"
### To Reproduce

- Pin Studio application to Windows taskbar
- Update Studio

###  Expected Results

It should stay pinned on the taskbar

### Actual Results

It is removed on every update

[2020-02-05 09:47] john-doe-2016 opened #325 "The sample validation does not support null in samples"
The new sample validation does not support null values, that are perfectly legitimate for non required attributes.
Thus, many errors are now reported, which greatly complicates the use of this validation.

For example :
* model
![image](https://user-images.githubusercontent.com/20415788/73830106-5caafc00-4804-11ea-9d77-4f554ac0e290.png)
* sample
![image](https://user-images.githubusercontent.com/2

[2020-02-05 11:12] ahmedmosad118 opened #326 "can't publish it"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

1. Given this OpenAPI document '...'
2. Click this button '....'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (remove any that are not applicable):**
 - Studio

[2020-02-05 15:01] rossmcdonald commented on #326
@ahmedmosad118 Please provide more information on the issue you are seeing. For example, screenshots, error messages, steps taken, etc.

[2020-02-05 15:01] #326 closed

[2020-02-05 15:30] Primajin opened #327 "Readme preview shows only "object Object""
**Describe the bug**
When pressing the preview button on the Readme.md it just shows "object Object" instead of a rendering of the Markdown.

**To Reproduce**

1. Given a Readme.md in a freshly checked out repo via [myCompany].stoplight.io/studio
2. Click this button 📖 Preview
3. See just object Object

**Expected behavior**
A html/formatted rendering of the markdown.

**Screenshots**
![Screenshot

[2020-02-05 19:17] BigBlueHat commented on #315
This is the Swagger v2 Petstore example doc converted (via http://editor.swagger.io/ UX) into OpenAPI 3.x. Their converter doesn't quote the HTTP Status Codes (nor does it throw errors about them missing...), so it's a great source for these broken YAML docs. 😢

[petstore-converted.v1.txt](https://github.com/stoplightio/studio/files/4161561/petstore-converted.v1.txt)

[2020-02-05 19:19] BigBlueHat commented on #315
If you import that file (or paste it's contents into "Code"), then errors are shown correctly. However, if you add the file to an existing project (and reload it) or create a new project from a folder containing it, then Studio doesn't recognize it as an API because it considers the YAML invalid (even though the YAML's just fine...it's just not "failsafe").

[2020-02-05 19:48] BigBlueHat opened #328 "`.github` folder showing in output documentation"
**Describe the bug**
For example: https://stoplight.io/p/docs/gh/stoplightio/studio/.github/ISSUE_TEMPLATE/bug_report.md

**Expected behavior**
Pretty sure most (probably all) `.` prefixed files should be kept out of documentation output.

[2020-02-05 19:50] BigBlueHat opened #329 "Path Parameters on Operation Objects are not manageable via the Form editor"
**Describe the bug**
Somewhat related to https://github.com/stoplightio/spectral/issues/954

Stoplight doesn't display Path Parameters expressed on the Operation Object. Sometimes those are simply "misplaced" Path Parameters--which would be better put directly on the Path Object--but sometimes they are valid overrides or additions. Currently Stoplight doesn't display them nor allow the user to edi

[2020-02-05 21:47] #34 closed

[2020-02-05 21:48] philsturgeon commented on #34
Let's track this work in https://github.com/stoplightio/studio/issues/4

[2020-02-06 13:15] #243 closed

[2020-02-06 13:15] chris-miaskowski commented on #243
Confirmed and updated regression tests.

[2020-02-06 13:20] #310 closed

[2020-02-07 20:26] lottamus commented on #327
Hey @Primajin ,

Thanks for reporting! We just released [v1.9.1](https://github.com/stoplightio/studio/releases/tag/v1.9.1) which includes a fix for this issue. Just restart your Studio Desktop or refresh your browser window and you'll be up to date.

Let us know if you run into any more issues!

[2020-02-07 20:26] #327 closed

[2020-02-07 22:32] dgrstl commented on #112
@wmhilton That makes a ton of sense. As it is there are project setting in both places and most people overlook the cog in the bottom left (which makes me thing top right is better placement). I propose one settings page with two sections, Project Settings, and Application Settings with the appropriate settings in each section. And I would change Application Settings to Studio Settings since it se

[2020-02-08 03:31] pazaan commented on #4
Ha! I was just about to come and report a separate bug about this, and came across my original report, which I'd completely forgotten about!
It does indeed appear that headers can be components under both [parameters](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#parameter-object) and [headers](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#

[2020-02-10 11:37] #206 closed

[2020-02-10 19:47] lottamus commented on #328
Hey @BigBlueHat are you still seeing this issue? It should be resolved once you re-publish your docs. By default, only things within the "/docs" and "/reference" directories should be included in your published docs.

We will soon be releasing a project configuration file which allows you to include/exclude certain files/directories from your published docs.

[2020-02-10 20:00] lottamus commented on #307
@bastienu we've updated the error message to display more information if the authentication fails. We've also updated the permission check to allow publishing as long as you have "push" access to the repo. Can you try publishing again to confirm it's working for you?

[2020-02-11 14:40] Primajin opened #331 "Can't (easily) create an array of arrays"
**Describe the bug**
I can't (easily) create an array of arrays - I need to "trick" the interface by using an intermediate object.

**To Reproduce**

1. Create a new operation, let's say GET
2. Click `noType` in Schema in order to change it to `array`
3. Another array can not be chosen as a subtype

**Expected behavior**
Allow to nest another array.

**Screenshot**
![Screen Recording 2020-02-11 at

[2020-02-11 16:09] BigBlueHat commented on #328
Yep! Looks like it's fixed. Thanks! And great to hear about the include/exclude feature!

[2020-02-11 16:09] #328 closed

[2020-02-11 18:23] rowa97 opened #332 "Support for Parameter Format property in OAS2.0"
**Describe the bug**
The format property is currently supported in request/response schema but not for parameter schemas.

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#parameterObject

**Screenshots**
![image (3)](https://user-images.githubusercontent.com/29557510/74265977-199bcd80-4cc9-11ea-958f-e956ee18a106.png)
![image (2)](https://user-images.githubusercontent.com/2

[2020-02-13 13:47] michaelklopf commented on #308
The possibility to reuse test examples among all endpoints and the schemes would be great. This would also open up the possibility to use the examples in test cases and having one source of truth in form of the API documentation.

[2020-02-13 14:48] #170 closed

[2020-02-13 15:11] P0lip commented on #315
Hmmm, that's an interesting observation.
Could you share a small piece of that file so that I can reproduce it?
Thank you in advance

[2020-02-13 18:57] BigBlueHat commented on #315
You can use the [petstore one I linked above](https://github.com/stoplightio/studio/files/4161561/petstore-converted.v1.txt).

[2020-02-14 19:31] lottamus commented on #4
@pazaan Unfortunately we still don't support creating shared parameters, though I'm happy to report that we've pushed an update to Studio Web that adds support for $ref'ing them. This feature will land in Studio Desktop v1.10 at the end of the month.

![2020-02-14 13 27 26](https://user-images.githubusercontent.com/7423098/74561315-fb82d700-4f2d-11ea-8ffa-c9306bc8fbf0.gif)

[2020-02-15 07:55] woutersmet commented on #4
Sweet! We want to use a variable/parameter for the subdomain in the server (as we distinguish customers/accounts like that), is that covered with this as well?

[2020-02-17 10:12] atshakil opened #335 "'base path' is set but not reflected in 'Code Generation'"
**Describe the bug**

"base path" doesn't appear in the `Endpoint Preview > Try It > Code Generation`,  even when "base path" is set from "API Overview".

**To Reproduce**

1. For any OpenAPI document, go to "API Overview (Form view)", and set "base api" (e.g. `/v1`)
2. From any end point (e.g. `/feeds`), go to `Preview > Try It > Code Generation`
3. See the generated code doesn't include "base ap

[2020-02-17 18:00] naidu0921 opened #336 "Publish Docs forcing me to login again & again"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

1. Given this OpenAPI document '...'
2. Click this button 'publish docs'
3. See error

Unable to access project for .... . Please try reconnecting your Gitlab account then try again.
If the problem persists, Report a Bug.

**Expected behavior**
A clear and concise description of what you expected to happen.

[2020-02-17 21:34] rossmcdonald commented on #336
@naidu0921 I've opened a ticket for you in our support portal. I'm going to go ahead and close this issue.

[2020-02-17 21:34] #336 closed

[2020-02-18 10:52] #292 closed

[2020-02-21 16:58] simonjpartridge commented on #299
This is a problem for me too. It makes merging description changes in git very hard since the entire description now lives on one line in the source. This means any change in the description will conflict with any other change with no easy way to merge those conflicts

[2020-02-21 21:57] rossmcdonald opened #337 "API overview doesn't display either email or URL if one is not set"
## To Reproduce

- On the API Overview, set either one contact URL or email (but not both)

## Expected Results

The item set would be displayed.

## Actual Results

Both have to be set for either to be displayed.

<img width="1295" alt="Screen Shot 2020-02-21 at 3 54 08 PM" src="https://user-images.githubusercontent.com/4060903/75075081-ad884900-54c2-11ea-8727-50b764bb91fb.png">

<img width="1295

[2020-02-21 22:08] rossmcdonald opened #338 "OAIv3 adding and removing a request body leaves empty `requestBody` object on operation"
## To Reproduce

- Within an OpenAPIv3 specification, add a request body to an operation
- Remove the request body

## Expected Results

- `requestBody` would be absent from the operation

## Actual Results

- `requestBody` is still present, but empty

## Notes

This is problematic because the [OpenAPIv3 `requestBody` attribute](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0

[2020-02-25 02:05] jpyrichjc opened #339 "Broken symlinks on Linux prevent projects from being opened, no errors in console"
**Describe the bug**
If you attempt to open a folder in Stoplight Studio which contains a broken symlink in its tree, you will get the following toast error:

![image](https://user-images.githubusercontent.com/58486853/75207756-e16ba480-5736-11ea-9ef0-89a842059eee.png)

There are no messages on the developer console, so the error is very difficult to diagnose.

I don't have a Mac to test this, but

[2020-02-26 03:28] cynsupercat opened #340 "Can't log in when trying to publish a doc"
### Workaround

For anyone running into this issue, please try:

- Create a new Github repository, or find an existing repository, for storing your data
- Clone the repository in Studio using the "Open Git Project" option from the new project screen
- Publish from the connected project

---

**Describe the bug**
When attempting to publish a doc, it tells me that this project needs to be connected

[2020-02-27 14:24] MikiLoz92 opened #341 "When a line ends with ` on the description box, next line will be messed up"
**Describe the bug**
In the description box of an endpoint, if a particular line ends on a ` character, (e.g.: when embedding pieces of code), the next line will be bugged: in particular, when typing a character on the caret's position, it will not appear in that position but it will be warped 1 char to the right.

**To Reproduce**
1. In the same line, write a long text which will be automatically

[2020-02-28 15:04] philsturgeon commented on #340
This has been put on the dev teams radar, and this issue will be updated when it's sorted out. I've had this once or twice and it's some sort of funny issue with cookies or something. They'll figure it out. :D

[2020-02-28 15:11] philsturgeon opened #342 "docs: UI Overview is outdated"
**Chore summary**
The [UI Overview](https://stoplight.io/p/docs/gh/stoplightio/studio/docs/ui-overview.md?srn=gh/stoplightio/studio/docs/ui-overview.md) is from back in the day, with the "any two of three" panel system. Now we have the tree, left is always edit and right is optional preview. Let's update it to make this clear.

**Tasks**
- [ ] Make a beautiful image replacement for existing image

[2020-03-02 20:16] jayshao opened #343 "Attempting to clone private Github org shows 404"
**Describe the bug**
Problem creating project from private repo in Github organization

**To Reproduce**

1. Login with Github credentials
2. Enter private repo in my Github org
3. Studio starts creating the project (see it in project list) but errors with 404

**Expected behavior**
Project created based on files in Giithub repo

**Screenshots**
![Screen Shot 2020-03-02 at 3 14 59 PM](https://user

[2020-03-02 20:29] rossmcdonald commented on #343
Hi @jayshao, I think this might be an OAuth issue. Can you verify that you authorized the Studio OAuth application for the organization the repo is in? If you find the app here:

https://github.com/settings/applications

And then visit the settings, it should show you which organizations it's authorized for.

[2020-03-03 05:52] lottamus commented on #335
@atshakil thanks for reporting! This issue has been fixed and released in Studio v1.10.0.

[2020-03-03 05:52] #335 closed

[2020-03-03 05:54] lottamus commented on #292
@johandalabacka thanks for reporting! This issue has been fixed in Studio [v1.10.0](https://github.com/stoplightio/studio/releases/tag/v1.10.0).

[2020-03-03 06:05] lottamus commented on #316
@KatamariJr thanks for reporting! This issue has been fixed in Studio [v1.10.0](https://github.com/stoplightio/studio/releases/tag/v1.10.0).

[2020-03-03 06:05] #316 closed

[2020-03-03 08:02] philsturgeon commented on #315
@P0lip any luck diagnosing this one?

[2020-03-03 08:11] zee85 opened #344 "OpenAPI object should have non-empty `tags` array."
Downloaded the mac app.

Started a project.
Clicked on models and paths.
Received error.

OpenAPI object should have non-empty `tags` array.

[2020-03-03 08:20] P0lip commented on #315
@BigBlueHat @philsturgeon yeah, I could reproduce it. It's an issue we should fix.
My apologies for delayed response - had 2-3 similar issues in other repos and simply lost track of them at some point.

[2020-03-03 08:57] Primajin opened #345 "CORS Headers"
**User story.**
As a frontend developer, I want to connect to the local mock server, so that I can see mocked responses in my browser.

**Is your feature request related to a problem?**
I can not connect to the mock server via a secure browser, as the [CORS Headers](https://developer.mozilla.org/de/docs/Web/HTTP/CORS) are not set up correctly to allow any origin and any verb (OPTIONS, GET, POST, P

[2020-03-03 10:08] #319 closed

[2020-03-03 15:45] XVincentX commented on #345
@Primajin Would it be possible to share the OpenAPI document you're trying to mock or at least a minimal reproducible example?

[2020-03-03 16:09] Primajin commented on #345
Uhh I would need to set something up for this - my hunch was that it was just forgotten to add OPTIONS as part of allowed cors options - as this is not commonly used besides pre-flight options, but for us we do actual active options calls.

[2020-03-03 16:15] XVincentX commented on #345
That's why I was asking for your document — I am assuming it has an explicit OPTION verb you're handling, right?

[2020-03-03 16:23] Primajin commented on #345
Oh I see now it actually does not 🤔🙈 But even if I add one, the mock server does not add that to the allowed methods - it does show up in Routes though

[2020-03-03 16:30] XVincentX commented on #345
That is really weird then, the CORS option are enabled by default in Studio. I'll triple check.

[2020-03-03 16:51] rossmcdonald commented on #275
Resolved with v1.10.0, which now offers a bundled export option.

[2020-03-03 16:51] #275 closed

[2020-03-03 16:54] Primajin commented on #345
Maybe it's really just that one method missing? The other methods seem to work fine.

[2020-03-03 17:56] philsturgeon commented on #344
Could you paste the OpenAPI contents that gave you this error?

[2020-03-03 17:59] philsturgeon commented on #69
<img width="276" alt="image" src="https://user-images.githubusercontent.com/67381/75804941-28821700-5d81-11ea-9eed-e70371aebc48.png">

It's back in the filename now.

[2020-03-03 17:59] #69 closed

[2020-03-03 18:00] philsturgeon commented on #73
@cebe @akrantz01 did you two figure out the trouble with running this on Manjaro Linux? Are later versions (v1.10.0) still not working?

[2020-03-03 18:01] #288 closed

[2020-03-03 18:02] philsturgeon commented on #287
Could you help us with an example of this?

[2020-03-03 18:03] philsturgeon commented on #285
We fixed a whole pile of performance issues with larger repos, tricky circular stuff, etc. If you're still getting this in v1.10.0 let us know and we'll look into it!

[2020-03-03 18:03] #285 closed

[2020-03-03 18:03] philsturgeon commented on #276
@johnb8005 let us know if you're still having trouble, we've done a lot of work since December 2019.

[2020-03-03 18:03] #276 closed

[2020-03-03 18:07] philsturgeon commented on #224
Try it again, lots of performance improvements were made since this was reported.

[2020-03-03 18:07] #224 closed

[2020-03-03 18:11] philsturgeon commented on #190
For those watching, this is being worked on as a much larger effort to support various "Dialects" correctly at various stages in various tools throughout the ecosystem. Multiple JSON Schema drafts, multiple OpenAPI-flavours, etc.

Many people expect this exact functionality, and many consider it a bug, so... 😅 It's tough, but we've got some very smart people on this one.

[2020-03-03 18:14] philsturgeon commented on #145
@adamculp sorry for letting this fall through the cracks, but got some good news. We're working on "ignore this warning" for specific linter errors (over on the Spectral repo, then we add buttons to Studio)

The remainder of this seems like a duplicate of https://github.com/stoplightio/studio/issues/104, so let's close this down. I would love to have the warnings take me to the right form componen

[2020-03-03 18:14] #145 closed

[2020-03-03 18:19] philsturgeon commented on #329
Yes. Currently this falls into "we can't GUI 100% of the things so we pick and chose the bits to GUI and let folks use Code for the rest.

We will be making shared properties #4 and so if people wanna DRY through the GUI they can maybe use those?

[2020-03-03 18:20] #323 closed

[2020-03-03 18:50] BigBlueHat commented on #329
Not sure Shared Properties will do the trick...sadly. Often these are overrides for the Path Parameters:

For example:
[code]
(there are probably far better examples in the wild)

More typically (in the work I've seen) is simply adding parameters to operations which aren't applicable to the whole path.

I'd hoped (naively 😉) that it wouldn't take more than repeating that UX component under the ope

[2020-03-03 19:02] philsturgeon commented on #329
Oh absolutely I know folks who do this like you do. There are multiple personas we try to solve for and you're (no offense) a tricky one!

People who are advanced enough to know about some of the more complex things you can do with OpenAPI, but want to use the GUI to do it.

Most folks who know OpenAPI like the back of their hand wanna just get in there and write a bunch of code, and those who don

[2020-03-03 19:02] #329 closed

[2020-03-03 19:39] kag0 commented on #190
My 2c is that the output should always be valid for whatever the target format is, but aside from that I trust you guys will find a good compromise.

[2020-03-03 21:27] BigBlueHat commented on #329
None taken. 😁 I only want the 🌔 @philsturgeon, is that so much to ask? 😺

I'll certainly be working with our other devs to start only using Path Parameters on Paths and not at the Object level (where possible). Would still be great to see this handled...some day.

Thanks for considering it!
🎩

[2020-03-03 21:28] philsturgeon commented on #193
@wmhilton did this one get sorted out?

[2020-03-03 21:31] philsturgeon commented on #190
@kag0 yep that's how some people feel and others have a slightly different view. We have generally allowed slightly incorrect but commonly accepted stuff, like this, as many tools support it. For example, ReDoc, another documentation tool, allows type arrays even though OpenAPI does not.

This superset is expected functionality for many people, so ripping that away from them would be hugely proble

[2020-03-03 21:39] philsturgeon commented on #338
Is this the same as https://github.com/stoplightio/studio/issues/264

[2020-03-03 21:40] philsturgeon commented on #255
I think http-spec has better defaults now, right @XVincentX? Is this still an issue? https://github.com/stoplightio/studio/issues/254 is related.

[2020-03-03 21:44] philsturgeon commented on #200
If this is still happening let us know, but I feel like we sorted it out.

[2020-03-03 21:44] #200 closed

[2020-03-03 22:34] XVincentX commented on #255
Http Spec can work without this effectively. In such case Prism will return whatever response is defined. Still it would be good if Studio could add a reasonable default trying to understand the content type of such operation.

[2020-03-04 08:37] johnb8005 commented on #276
it worked, thanks guys

[2020-03-04 10:03] r1ckr opened #346 "Form mode edits rewrite the whole document rather than the section its intended"
**Describe the bug**
When you are working in **code mode** and add some comments to the definition (which are extremely useful while development) Stoplight studio wipes them out the next time you modify something in the **form mode**.

**To Reproduce**
1. Write a comment (## My comment) in **code mode**
2. Add a new section or edit something in **form mode**
3. Go back to the **code mode** and you

[2020-03-04 14:06] philsturgeon commented on #227
We've done a whole load of work since October but some of these issues didn't get closed down at the time, sorry about that. Better processes in place now. If this is still causing trouble let us know and we can reopen.

[2020-03-04 14:06] #227 closed

[2020-03-04 14:07] philsturgeon commented on #212
Confirmed in v1.10.0.

<img width="1106" alt="Screen Shot 2020-03-04 at 2 56 17 PM" src="https://user-images.githubusercontent.com/67381/75887064-823e1c00-5e29-11ea-9bd9-a1239fcad990.png">

[2020-03-04 14:18] philsturgeon commented on #294
In progress!

[2020-03-04 14:25] philsturgeon commented on #296
This isn't a valid document :D

[code]

I'm not sure what the valid version of this is without digging through the larger documrent to try and work out intent, but this is not going to work. $ref cannot have siblings in OAS 3.0 for a start.

Best of luck!

[2020-03-04 14:25] #296 closed

[2020-03-04 14:26] philsturgeon commented on #299
I've put this on a special list for fast-fixing. 😅

[2020-03-04 14:28] philsturgeon commented on #300
Project Config does not exist meaning it can be read from anywhere, but this issue was initially about it being put _somewhere_. For now, yeah, Import is going to put them there.

Where should they be put? In the root? That is probably not where anyone really wants them if they're mixing code and descriptions. Any ideas?

[2020-03-04 14:31] #307 closed

[2020-03-04 14:41] philsturgeon commented on #276
and girls! 🙌

[2020-03-04 14:44] philsturgeon commented on #255
Ok I think this is done then, the concern is about spec rendering but prism and docs are fine.

[2020-03-04 14:44] #255 closed

[2020-03-04 16:35] jmhansen opened #347 "Desktop Studio does not recognize global tags"
**Describe the bug**
The linter gives a warning that 'Operation tags should be defined in global tags.'  But if I manually add global tags to the spec, the application does not recognize them or add them to the tags UI.

**To Reproduce**

1. Given an OpenAPI document with a global tags section:
[code]
2. Click this button to add tags.
3. There are no tags listed (unless they have been added as loc

[2020-03-04 20:24] philsturgeon commented on #29
There's an open discussion about [deprecating discriminator](https://github.com/OAI/OpenAPI-Specification/issues/2143). Let's see where that ends up before we start working on it, as its in neither Stoplight's or Stoplight's users interests to spend a lot of time on discriminator if its going away. 😓

[2020-03-04 22:02] rossmcdonald commented on #338
@philsturgeon It is. I'll consolidate there.

[2020-03-04 22:04] rossmcdonald commented on #338
Closing in favor of #264

[2020-03-04 22:04] #338 closed

[2020-03-05 09:26] john-doe-2016 commented on #305
In fact, it seems that attributes are now sorted by alphabetical order, which does not seem adequate to me, I think they should be sorted like editors wants it, ie semantically/functionnaly.

Regards

[2020-03-05 15:52] philsturgeon commented on #300
I was totally wrong above, the config is respected for placing new APIs somewhere too, not just reading them. This is all done, all ready to go, can be used in Studio Web or Studio Desktop v1.11.0 @BigBlueHat so check out this PR and let me know if you have any trouble. https://github.com/stoplightio/studio/pull/348

[2020-03-05 15:52] #300 closed

[2020-03-06 16:06] checkin247 opened #349 "Example of number and boolean are stored as strings"
**Describe the bug**
Example for model (schema) properties of either 'number' or 'boolean' are in quotes.
![image](https://user-images.githubusercontent.com/12472764/76100490-0381e400-5fcd-11ea-817e-a042d4578e3b.png)
![image](https://user-images.githubusercontent.com/12472764/76100550-1b596800-5fcd-11ea-90ba-0900d3ab86ef.png)
Starting prism shows violation of data type: `Violation: response.body.d

[2020-03-06 16:29] cebe commented on #73
I did not bother to try again since.

Just downloaded the latest version from the website:

[code]

Still the same issue.

I'm not on Manjaro, but plain Debian stable:

[code]

[2020-03-09 01:21] marbemac commented on #299
@BigBlueHat @simonjpartridge when you have a moment could you share a example yaml document that triggers the issue when it is imported? Thanks!

[2020-03-09 14:30] BigBlueHat commented on #300
Doesn't look like the new config file stuff handles API docs in the current directory.

I tried:
[code]
which hid everything after I applied the config...

I then changed `rootDir` to `/`...which turned out to be invalid, but when re-opening the project my old setup was there.

Now, I can see this error in the config parser:

So, I'm not sure if it's possible to set the current directory as the ho

[2020-03-09 14:38] P0lip commented on #300
@BigBlueHat
Hey! Could you please try the following config?
[code]

[2020-03-09 14:40] BigBlueHat commented on #300
@P0lip that did the trick! But isn't include optional? Might also want to tweak those error messages in parsing. And, without the `include` bit the project files are all hidden (per above).

[2020-03-09 14:50] P0lip commented on #300
Awesome!

It's optional for regular directories, but not for the project root (`.`).
In general the idea behind Stoplight config was to instrument projects in our ecosystem as to which files are relevant, and which are less so.
Using the project root as `rootDir` kind of violates that purpose, as it literally stands for "all files are equally important" and that's why `include` is needed.
I know i

[2020-03-09 20:14] paulcdejean opened #350 "Has many issues in WSL2 environments"
If you have a WSL2 dev environment, and you make a file change, spotlight just kinda won't pick it up. There's a lot of weird IO inconsistencies that result in a massive headache :(

[2020-03-10 10:49] Hipska commented on #192
What's the status on this? Came here as I got a lot of errors by renaming a model in the UI and the refs were not updated. Would love to have that in there too.

[2020-03-10 11:35] nunom-santos opened #351 "Error "i.translateParameterObject is not a function""
The error "**i.translateParameterObject is not a function**" keeps appear for each time I change the file to visualize.
The error started appearing today after 09:00 GMT, even after reverting the files to a previous version.
Yesterday, until my leave at 19:00 GMT the error did not show..

I reproduced the error on a new project by doing the following:
1. create an API named a.yaml;
2. created a pa

[2020-03-10 11:38] nunom-santos commented on #351
Sorry, I misspelled the procedure to reproduce the error.
Ignore step 3.

[2020-03-10 11:52] thomasruiz opened #352 "Segmentation Fault (core dumped)"
**Describe the bug**
When launching the new version, I'm getting a segfault. Had to rollback to 1.9.x get it working.

**Screenshots**
[code]

**Environment (remove any that are not applicable):**
 - Studio version: 1.10.1
 - OS: ArchLinux
 - Browser: N/A

[2020-03-10 12:05] gasugesu commented on #351
i have same problem in mac os catalina

[2020-03-10 12:10] thomasruiz commented on #352
I removed the `~/.config/Stoplight Studio` directory and now it runs correctly. But as soon as I open my openapi file, it breaks.
[api.zip](https://github.com/stoplightio/studio/files/4312333/api.zip)

[2020-03-10 14:27] vinczente commented on #340
I have same issue?

[2020-03-10 14:39] mallachari commented on #155
It looks like this issue was solved somewhere on the way as it's quite old one.
It zooms in/out fine now.

[2020-03-10 14:40] simundev commented on #351
I've got similar: `n.translateToPathParameter is not a function`

[2020-03-10 15:37] philsturgeon commented on #155
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67381/76329871-6802b300-62ed-11ea-8c62-17845b8479ce.png">

Sure does! Sorry for the delay @adamculp but we got you!

[2020-03-10 15:37] #155 closed

[2020-03-10 18:23] ianbeck commented on #351
Same issue; the editor will be fine for a few minutes, and then a bunch of these errors will come down the pipe. A few more minutes of productivity, and then more errors. Really frustrating.

**Screenshots**
<img width="438" alt="Screen Shot 2020-03-10 at 11 20 30 AM" src="https://user-images.githubusercontent.com/51132374/76345794-2e1bb780-62c1-11ea-9f10-ac2680d83e45.png">

**Environment:**
 - St

[2020-03-10 23:04] lottamus commented on #351
@nunom-santos @gasugesu @simundev @ianbeck thanks for reporting! A fix for this issue has been released in Studio Web and Studio Desktop [v1.10.2](https://github.com/stoplightio/studio/releases/tag/v1.10.2).

Please let us know if you run into any more issues.

[2020-03-10 23:04] #351 closed

[2020-03-11 12:44] gasugesu opened #353 "[v1.10.2] Error "i.translateParameterObject is not a function""
Hello
I have installed latest version app from https://github.com/stoplightio/studio/releases/tag/v1.10.2. but having same issue #351.
It seems this problem is not fixed.

[2020-03-11 12:50] gasugesu commented on #353
OK, I found it.
The latest link [Mac Download] in this page(https://github.com/stoplightio/studio/releases/tag/v1.10.2) is NOT linked to the latest binary.
Please change the old link(v1.10.1) to the latest.
Thank you.

[2020-03-11 13:50] #233 closed

[2020-03-11 13:59] rossmcdonald commented on #353
@gasugesu The link has been updated. Thanks for letting us know.

[2020-03-11 13:59] #353 closed

[2020-03-11 14:01] transitive-bullshit commented on #84
Just want to ping this issue -- this library really looks OSS at first and it was disappointing to learn that it's not.

We're still very interested in using Stoplight Studio, however, it's just not a great first experience to feel like we've been bait & switched. In particular, we're interested in a deeper integration and/or white labeled or self-hosted solution for [Saasify](https://saasify.sh).

[2020-03-11 14:28] philsturgeon commented on #84
@transitive-bullshit hey Travis. Nothing about GitHub suggests that all software is OSS by default even when the repo is public, so I don’t feel like there’s any cause for comments about bait and switch.

So far this conversation has been about picking an appropriate license for the downloadable binaries here, so that folks can tel their corporate higher ups that it is indeed ok for them to use it

[2020-03-11 14:43] transitive-bullshit commented on #84
Thanks for the quick response, Phil && I totally understand that it's not mandated by GH or anything. It just feels OSS-y 😄 I was expecting it to be an [open core project](https://coss.media/open-core-definition-examples-tradeoffs/) or something, which I guess it kind of is considering some of your team's other related OSS work like `http-spec`, `prism`, etc.

I'm working on some [docs](https://gi

[2020-03-11 15:25] philsturgeon commented on #233
@charlesritchea this has been fixed internally, and deployed so it's part of Studio Web. It'll be available in the next Studio Desktop release, which is usually monthly. Thanks for reporting this and making Stoplight better!

[2020-03-11 15:31] P0lip commented on #90
I believe this is no longer needed. The initial processing process has been vastly improved recently and it's much more stable now.
Going to close it out.

[2020-03-11 15:31] #90 closed

[2020-03-11 15:43] philsturgeon commented on #90
I agree, it's super quick now! Well played.

[2020-03-11 17:54] brentonhouse commented on #275
@rossmcdonald  - I am using Version 1.10.2 (1.10.2.17323) and both `Export OpenAPI` and `Export OpenAPI (bundled)` export the same content for me.   Neither of them include the `$ref` properties but instead embed the actual content from the reference.

[2020-03-11 18:08] #158 closed

[2020-03-11 19:18] rossmcdonald commented on #275
Hi @brentonhouse, would it be possible to share a specification that reproduces the issue?

Ideally with bundling the references would be inserted at the root of the API object and referenced locally. There could be something specific to the API or the references in your spec that is putting them in-line, though.

[2020-03-11 19:30] erik-hansen opened #355 "Generate Example from Schema"
**User story.**
As an API designer, I can automatically generate, complete, or fix an example request/response body from the schema, so that I can begin with data compliant to the model schema.

**Is your feature request related to a problem?**
Stoplight Next allows me to click a "Generate From Schema" button to fill in example data compliant with the schema.  In Stoplight Studio, I must manually

[2020-03-11 19:34] philsturgeon commented on #275
Yeah please share an example of this, I’ve tested this manually and got the right results myself.

[2020-03-11 20:35] brentonhouse commented on #275
What is best way to share this project with you?

[2020-03-12 00:09] philsturgeon commented on #275
Often the best way to share a bug is to create the smallest reproducable example, but if that's tricky or time consuming you can just zip the whole thing over to phil@stoplight.io and I promise not to sell all your data. 😇

[2020-03-12 00:39] brentonhouse commented on #275
I’m fine doing that but just can’t figure out where studio stores the files to zip up

[2020-03-12 07:29] tkawachi commented on #87
"s" key often stop working on my machine (macOS High Sierra 10.13.6). I'm not recording my screen. It worked again when I switch to another window by cmd-tab and back to stoplight studio.

[2020-03-12 07:30] maennel opened #356 "Integer hexadecimal values are converted to decimal when switching between views"
**Describe the bug**
Integer maximum, minimum and default values are converted to decimal format when being edited in the form view, despite originally being in hexadecimal.

**To Reproduce**

1. Given this OpenAPI document:
[code]
2. Switch from the code view to the form view and open the "Additional properties" view.
3. See that all values are displayed in decimal format.
4. Change the default v

[2020-03-12 08:15] philsturgeon commented on #275
If you're using Studio Desktop, you could have used Open Existing Folder and it'll just be exactly where the folder was on your harddrive, but if you cloned the repo or started one from scratch you can find the directory here: https://stoplight.io/p/docs/gh/stoplightio/studio/docs/Basics/01-working-with-projects.md#from-scratch

[2020-03-12 08:43] thomasruiz commented on #352
It seems to work with version 1.10.2.

[2020-03-12 08:43] #352 closed

[2020-03-12 11:29] philsturgeon commented on #84
@transitive-bullshit this sounds interesting. Lmk more at phil@stoplight.io.

I'm going to lock this issue for now just because there's nothing more anyone can add. If anyone wants to know if they can use studio at work, then yes, yes you can. Click that thumb icon to show support, but no need for more comments here. 🙌

[2020-03-12 11:58] simonjpartridge commented on #299
[test.yaml.zip](https://github.com/stoplightio/studio/files/4324007/test.yaml.zip)
Here you go. It seems to be something to do with having titles in the description.
If you open this file and then edit the description in the form view. When the file saves the description will all be put on one line.

[2020-03-12 12:11] philsturgeon commented on #299
Yeah with that file, Doing "Import" and then clicking "View" gives me this:

[code]

Doesn't matter if its `describe: |` or `describe: >` it's still rewriting the stuff into a single line `""` string.

[2020-03-13 05:24] #315 closed

[2020-03-13 09:25] philsturgeon commented on #315
@BigBlueHat this was fixed in an upstream dependency and should make its way into the next minor release of Studio Desktop. Keep an eye out for updates!

[2020-03-13 11:36] philsturgeon commented on #355
Thanks for suggesting this! We've got it on the roadmap in productboard but it's good to see more interest in it here.

There's two things in here:

1. We have spectral rules for validating various types of example, but they're disabled in Studio due to performance issues. @P0lip with all the performance gains recently, is now perhaps the time to bring those rules back?

2. @erik-hansen do you act

[2020-03-13 11:39] philsturgeon commented on #350
@paulcdejean edits made outside of stoplight, for now, are not automatically reflected. It is not ideal we know, but it had to be done for a variety of reasons, all of which are temporary.

For now if you git pull outside of studio, switch branches, change files, etc do a quick Ctrl + R to see them updated.

[2020-03-13 11:41] WyriHaximus opened #357 "Ya'll awesome!"
Keep at it 👍!

[2020-03-13 11:44] philsturgeon commented on #349
@checkin247 thanks for reporting this! It has been fixed in master already, so if you're using Studio Web it'll work fine. If you're using Studio Desktop it will arrive in the next minor update. 🎉

[2020-03-13 11:44] #349 closed

[2020-03-13 11:55] philsturgeon commented on #356
@P0lip could you have a look at this one? Seems potentially similar to #299, as in, we dont' want to rewrite peoples files at all.

[2020-03-13 11:57] philsturgeon commented on #357
![giphy](https://user-images.githubusercontent.com/67381/76618989-2b6fcb00-652a-11ea-88c8-8300ed6fb421.gif)

[2020-03-13 11:57] #357 closed

[2020-03-13 13:25] checkin247 commented on #349
@philsturgeon great news.
Thank you!

[2020-03-13 14:18] paulcdejean commented on #350
That's understandable. On mac for instance ctrl+r or closing and reopening
stoplight will see changes reflected which is fine.

However on WSL2, ctrl+r and in fact even closing and reopening stoplight,
will NOT see changes updated. The only way to see them updated on wsl2 is
to create a new project and import the files or something.

On Fri, Mar 13, 2020, 06:39 Phil Sturgeon <notifications@github.

[2020-03-13 20:01] dgrstl opened #358 "Broken link in Studio docs"
Reported by user:

The “Learn More” link takes you to https://stoplight.io/p/docs/gh/stoplightio/studio/docs/Documentation/02-publishing.md?utm_campaign=publish_dialog&utm_source=studio which gives you a 404.

![foo](https://user-images.githubusercontent.com/2438381/76657169-32ed9f00-653f-11ea-8764-242ea97f43f5.gif)

[2020-03-14 07:03] erik-hansen commented on #355
Thanks @philsturgeon - Yes, example request and response bodies are helpful for demonstrating related values such as when my response object contains an array of pets, I want to provide an example response that has the most common pet types, with their relevant characteristics listed.  I don't believe that is something you can achieve through the property examples.

Also, you mention that the exam

[2020-03-14 18:59] checkin247 commented on #308
@r1ckr @michaelklopf
this seems to work for me with studio 1.10.2

![image](https://user-images.githubusercontent.com/12472764/76688564-3ad83c80-662e-11ea-9178-28434a2700ed.png)

[2020-03-14 19:09] checkin247 opened #359 "Display of reusable examples in form mode"
**Describe the bug**
A small issue when displaying examples which are referenced.
Its only about how it is displayed, it doesn't affect the usability.
It would be nice though being able to add references in form mode.

**To Reproduce**

1. Add an example to a response using a reference (in code mode).

[code]

**Expected behavior**
Display the example name instead of the "$ref".

**Screenshots**
I

[2020-03-14 21:43] philsturgeon commented on #355
@erik-hansen could you give me a minimal OpenAPI example with an operation that has a schema and example? I'd like to visualise what you're up to so I can see if there's a workaround whilst we wait for the button.

[2020-03-15 08:28] checkin247 commented on #308
@r1ckr
Reviewing that, I made this work by moving the example reference one level up.

yours:

[code]

working:

[code]

However, your version seems to be correct according to the [documentation from sagger](https://swagger.io/docs/specification/adding-examples) under"Reusing Examples".

After all, this issue seems to be related to #359

[2020-03-16 19:12] philsturgeon commented on #205
With v2 nearly out, share on its way, export + bundling done, this has to have been partially solved at least - and if not now then v2 will :D

[2020-03-16 19:12] #205 closed

[2020-03-16 20:56] brauliofabrizio opened #360 "StopLight dont create a project"
Error creating project: Could not call remote method 'getPath'. Check that the method signature is correct. Underlying error: Failed to get 'documents' path Underlying stack: Error: Failed to get 'documents' path at electron/js2c/browser_init.js:6700:67 at IpcMainImpl.<anonymous> (electron/js2c/browser_init.js:6565:27) at IpcMainImpl.emit (events.js:210:5) at IpcMainImpl.EventEmitter.emit (domain.

[2020-03-18 05:52] jglassenberg opened #361 "Unhandled Exception: "Node with id [object Object] does not exist in the b tree""
**Describe the bug**
I encountered this issue "Node with id [object Object] does not exist in the b tree" when trying to create a new model from the context menu. Oddly it didn't happen when using the create button.

**To Reproduce**

1. Open a project with several models and APIS
2. In the models folder, right click -> new model

**Expected behavior**
A new model is created. But instead I get thi

[2020-03-18 09:08] P0lip commented on #361
This will be fixed in the next release.

[2020-03-18 09:37] alanreid commented on #340
I was experiencing the same issue with a private repository. Even though the user had admin access, I couldn't make it work. Making the repo public fixed it for me.

Now I'm getting a 404 error instead of the published page, but I imagine that's an unrelated issue

[2020-03-18 12:38] hotmeteor opened #362 ""Error activating project" when loading existing project"
**Describe the bug**
When attempting to open up an existing project an "Error activating project" error is thrown, with instructions to check the dev tools. Dev tools revealed the following errors:

![Screen Shot 2020-03-18 at 7 35 59 AM](https://user-images.githubusercontent.com/378585/76961331-312f2d00-68eb-11ea-953d-ddb17bd6c63b.png)

**To Reproduce**

1. Save a project that is connected to Git

[2020-03-18 17:06] mallachari commented on #302
@john-doe-2016 thanks for spotting, that was quite interesting to reproduce and debug.
Turns out it happened only with leading 0 and following 8s or 9s. Leading 0 forced treating value as octal number while 8 and 9 are out of its scope. That caused removing quotes from yaml value.

Fix should arrive soon.

[2020-03-18 18:07] #332 closed

[2020-03-18 18:15] toymachiner62 commented on #332
Closed with no reason?

[2020-03-18 18:48] lottamus commented on #134
@philsturgeon a more feature rich options editor has been merged. You can expect this to land in Studio Web soon and Studio Desktop v1.11 next week! 🎉

_Note it only includes valid options for the parameter depending on the spec version (v2/v3) and parameter type_

**OpenAPI v3**

![image](https://user-images.githubusercontent.com/7423098/76996042-cc8dc580-691e-11ea-9827-1d237b3d86af.png)

**OpenA

[2020-03-18 18:50] lottamus commented on #362
@hotmeteor thanks for reporting! How often is this happening for you? Does it happen for every project? Do you have a particular project we use to reproduce? Thanks!

[2020-03-18 18:52] hotmeteor commented on #362
It happened with my first project which is a private repo. Can't really share the repo with you, sorry. Happy to share any other logs or errors though if you have somewhere I should be looking.

[2020-03-18 18:53] philsturgeon commented on #134
YAAAAAAAY great work!

[2020-03-18 18:54] #134 closed

[2020-03-18 18:58] philsturgeon commented on #358
Fixed, it'll get deploy soon. Thanks for reporting this!

[2020-03-18 18:58] #358 closed

[2020-03-18 20:33] rossmcdonald commented on #332
@toymachiner62 Sorry about that. This issue was automatically closed from an internal PR after getting merged. It looks like this will be included in the v1.11.0 release at the end of this month.

[2020-03-18 23:48] r1ckr commented on #308
for me doesn't work @checkin247 , even moving it one level up doesn't show it in the form.

[2020-03-19 07:27] chavdarb opened #363 "Documentation for extended types not properly generated"
**Describe the bug**
Parent fields missing from extended types in the generated documentation. This works in the preview tab.

**To Reproduce**

1. Given this OpenAPI document
[busunessevents.v1.yaml.zip](https://github.com/stoplightio/studio/files/4353124/busunessevents.v1.yaml.zip)

2. Click this button 'Publish'
3. See the generated documentation for extended types e.d. Identify.

**Expected be

[2020-03-19 09:33] checkin247 commented on #308
@r1ckr You're right.
I understood the response is empty.
I can confirm that in form mode, the reference ($ref) is not displayed in example.
![image](https://user-images.githubusercontent.com/12472764/77052421-18974380-69cd-11ea-9ebf-b977f8ba9b1f.png)
So it isn't fixed.

[2020-03-20 21:47] lottamus commented on #362
Hey @hotmeteor, we've just pushed a potential fix to [Studio Web](https://stoplight.io/p/studio). Can you give it a try and verify it fixes the issue for you? Thanks! https://stoplight.io/p/studio

[2020-03-22 04:41] aviskase opened #364 "Segfault after sending request in "Try it""
**Describe the bug**
When I click "Send" for anything in our API in "Try it" studio crashes with segfault.

**To Reproduce**
Happens even with the smallest version of our API: [api.zip](https://github.com/stoplightio/studio/files/4364649/api.zip). Host is internal deployment (we don't have external facing hosts)
I suspect SSL validation: even though we use HTTPS, for test environments we need to d

[2020-03-22 08:01] muukii opened #365 "Sometimes can't type 's'"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

1. Given this OpenAPI document '...'
2. Click this button '....'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (remove any that are not applicable):**
 - Studio

[2020-03-23 15:17] rossmcdonald commented on #365
I believe this is a duplicate of https://github.com/stoplightio/studio/issues/87. Let me know if that's not the case.

[2020-03-23 15:17] #365 closed

[2020-03-23 19:47] #362 closed

[2020-03-23 19:48] hotmeteor commented on #362
@lottamus Sorry for the delay, Chris. I actually restarted the project because I was blocked, so I'm unable to verify at this point. Thanks for chasing it down though.

[2020-03-24 08:39] rikterbeek opened #366 "Pull failed with: Merges with conflicts are not supported yet."
**Describe the bug**
I provide manually changes into the stoplight studio but want to revert to the current master. If I press "Pull latest from git repo" it provides the error "Pull failed with: Merges with conflicts are not supported yet." sometimes it works to go to the GIT code copy the code into the editor and press the button again but this solution now does not work. How can you ignore your

[2020-03-25 10:02] Hipska opened #367 "Parameter style and explode are not supported in rendered docs"
I'm using an advanced [parameter](https://swagger.io/specification/#parameterObject) design and came to the conclusion that Stoplight is not respecting the `explode` field.

Simplified version of my spec:

[code]

In the forms mode I then select this as query parameter for the path method:
![image](https://user-images.githubusercontent.com/228588/77523511-22fe8500-6e86-11ea-9364-a8a2cfb70930.png)

[2020-03-25 10:36] philsturgeon commented on #367
I can confirm that explode is not currently used by the docs tool. We've got support for about 80% of keywords in docs, with most of the remaining 20% being keywords I didn't even know existed until I came up with a way to track them. We'll get this as close to 100% as we can.

@lottamus putting this on your radar.

[2020-03-26 11:00] r1ckr opened #368 ".stoplight.json exclude ignored"
**Description:**
Stoplight is ignoring the **exclude** inside **.stoplight.json**, I am following this documentation:
https://stoplight.io/p/docs/gh/stoplightio/studio/docs/Basics/03-stoplight-config.md

**To Reproduce**
Created a .stoplight.json file at the root of the project with the following:
[code]

Create a directory called `internal` and drop an openapi in there, open the project with stop

[2020-03-26 12:28] P0lip commented on #368
@r1ckr
Hey!
You are missing the leading slash in `exclude`.
Please try the following `"exclude": ["/internal"]`
LMK whether it does the trick for you.

[2020-03-28 11:39] svassaux opened #369 "Stoplight studio does not sync with external changes"
**Describe the bug**
No correct sync with git status

**To Reproduce**

When I make changes
I commit externally with my terminal because I don't want to push changes
I make other changes with stoplight
Commit again and then push to the repo
If I reload stoplight pulls the last commits, ok (I have to do it manually, changes are not detected automatically)
But when I click on the commit buttons, eve

[2020-03-29 08:16] svassaux opened #370 "No support for $ref under a pathname"
**Describe the bug**
When including a $ref under a pathname, stoplight does not take it into consideration

**To Reproduce**

The following results in a blank form

1.	> paths:
2.	  /users:
3.	    $ref: '../resources/users.yaml'
4.	  /users/{userId}:
5.	    $ref: '../resources/users-by-id.yaml'
https://swagger.io/docs/specification/using-ref/

**Expected behavior**
Respect of the open api v3 spec

[2020-03-29 11:43] philsturgeon commented on #370
Thanks for reporting this @svassaux, we're already tracking this under #202.

[2020-03-29 11:43] #370 closed

[2020-03-29 11:44] philsturgeon commented on #369
Duplicate of #210.

[2020-03-29 11:44] #369 closed

[2020-03-29 11:46] philsturgeon commented on #368
@P0lip this could well be a little confusing. To many people, myself included, `/` means root on the harddrive. I have never seen a leading slash used in paths for any other reason than root filepath. So if this project was '~/src/myapi/` and there was `~/src/myapi/internal` I would expect `/internal` to be a reference to literally `/internal` not `/Users/phil/myapi/internal`...

[2020-03-29 11:48] philsturgeon commented on #350
Could you get us a screenshot or something? I've not got much to work with here.

[2020-03-29 11:49] philsturgeon commented on #364
Thanks for this, I've elevated it to the appropriate peoples.

[2020-03-29 11:51] philsturgeon commented on #363
If there's a discrepancy between the published docs and Studio Desktop's "Preview" pane its likely because your Studio Desktop is out of date. The latest is v1.10.3 so could you give it an update and see if that solves the problem?

[2020-03-29 11:53] philsturgeon commented on #360
Sorry this is just a stack trace. If you're still experiencing the problem could you fill out the bug report template and give us a little more information?

[2020-03-29 11:53] #360 closed

[2020-03-29 12:39] P0lip commented on #361
The fix is out

[2020-03-29 12:39] #361 closed

[2020-03-29 12:42] r1ckr commented on #368
@P0lip, The trailing slash worked.

I just want to clarify that beside of what @philsturgeon says, which is completely right. I pasted the link to the official documentation indicating relative paths without the trailing slashes.

One more thing, the rest of the configuration doesn't seem to need the trailing slashes.

I've created this PR to update the documentation: https://github.com/stoplighti

[2020-03-29 13:04] P0lip commented on #368
Yeah, I agree. In our case, it points to the root of current project, but this in fact may seem confusing.

In general, we don't allow playing around with files outside of project directory, so this is not a concern here, but I agree.

[2020-03-29 13:15] philsturgeon commented on #368
We don't allow playing with files outside of the root sure, but the confusion still stands. It's uncommon to _need_ to do this. See .gitignore.

[2020-03-29 13:38] P0lip commented on #368
Yeah, I totally agree with you.

[2020-03-30 04:07] gorishagh opened #372 "Unable to use Stoplight Studio Behind Corporate Proxy."
Unable to create a project when behind corporate proxy. Is there any way to set proxy info?
Version 1.10.2 (1.10.2.17323)
OS: Mac

Best,
Goris.

[2020-03-31 14:52] wmhilton commented on #350
Can you clarify your setup? Are you running Studio Desktop for Windows to open a folder that's inside a WSL2 Linux VM, or are you running Studio Desktop for Linux inside a WSL2 Linux VM? (Not that we've really considered _either_ scenario....)

[2020-03-31 14:59] paulcdejean commented on #350
Studio desktop for Windows to open a folder inside a wsl2 vm.

Using studio desktop for Linux would be challenging as it would involve
getting wsl2 set up with graphics and i don't know if it supports that.

On Tue, Mar 31, 2020, 09:52 William Hilton <notifications@github.com> wrote:

[2020-03-31 14:59] paulcdejean commented on #350
I'll try and get a screenshot today. Sorry for the delay.

On Tue, Mar 31, 2020, 09:58 Paul Dejean <paulcdejean@gmail.com> wrote:

[2020-03-31 15:07] wmhilton commented on #350
That would be fantastic. I'm installing WSL2 on my machine today but  I'm not familiar with it, so if you have any additional steps to reproduce that would be helpful.

[2020-04-02 09:49] P0lip commented on #368
Hey, just wanted to let you know that I've already got the fix merged.
It's unlikely that the change will make its way in 1.11 since I missed the merge window, but it should be released in one of the next versions.
I'll let you know once it's out.

[2020-04-02 11:49] philsturgeon commented on #366
Thanks for reporting. For now this is expected. The happy paths are covered nicely with [our built in git support](https://stoplight.io/p/docs/gh/stoplightio/studio/docs/Basics/04-common-git-tasks.md), but certain more advanced tasks (revert, rebase, merge), etc you're going to want to switch to a dedicated git client. Do whatever you gotta do with your favourite terminal then Ctrl/CMD + R to get

[2020-04-02 11:49] #366 closed

[2020-04-02 11:52] philsturgeon commented on #300
Hey @lordlycastle, pretty sure you are experiencing the same trouble that was discovered over here https://github.com/stoplightio/studio/issues/368 The issue has been resolved and it'll come out in a version post-v1.11, but for now try shoving some / on the front. If that doesn't work please make a new issue, as this is a different thing.

[2020-04-02 11:53] philsturgeon commented on #300
Btw I locked this one bc I can forsee this becoming a general "stoplight config support thread". 😅

[2020-04-02 11:59] SiBell opened #373 "Could not dereference ..."
**Describe the bug**
The published documentation fails to render a JSON Schema from an External URL. Displaying a "Could not dereference" error.

**To Reproduce**

1. Here is external url I enter into studio: https://api.birminghamurbanobservatory.com/schemas/platform-get-response-body.json . I'm setting this as the body of a 200 response from a POST request.
2. I then commit the changes, click pu

[2020-04-02 12:41] lordlycastle opened #374 "Stoplight Config File Bug"
## **Describe the bug**
I can't get it to import APIs from .yaml files in the specified directory.

Here's the project structure:
[code]
And here's the config file I'm using:
[code]
It can find the model and they show up in the API tab, and I can successfully follow the refs. But there're no API files. And if I import an existing one it just duplicates it into src/imported_api-2.yaml

It does say

[2020-04-02 21:16] paulcdejean commented on #350
Having some troubles doing video captures sorry.

[2020-04-03 16:03] Michael-Dawkins opened #375 "x-faker gets deleted when adding additional properties to a field"
**Describe the bug**
We use stoplight studio to write an API where we use PRISM's nice mocking features where we can generate more realistic data with the x-faker properties, to instruct faker.js data generation.
Though As soon as we keep on working on a property, by adding an additional property to it, we loose our custom "x-faker" attribute.

**To Reproduce**
In an open API document:
1. Set x-fa

[2020-04-03 19:23] emorale112 opened #376 "Removing numeric validations leaves empty string"
**Describe the bug**
Deleting minLength/maxLength/minimum/maximum/multipleOf within Params does not delete the entry but leaves it as an empty string. This occurs for path, query, and header param validations.

**To Reproduce**

1. Add minLength/maxLength/minimum/maximum/multipleOf
2. View code - Value is set
3. Delete the value
4. View code - an empty string is left

**Expected behavior**
delete

[2020-04-03 19:55] rossmcdonald opened #377 "Tags created in Forms view not added to top-level tags attribute"
## To Reproduce

- Create API
- Create endpoint
- Add tag to an endpoint

## Expected Results

Tag is applied to operation AND added to top-level tags attribute.

## Actual Results

Tag is applied to operation, but is not added to top-level tags attribute.

## Misc

While the specification states that this is not a requirement (which would make the spec invalid), there is also a default Spectral r

[2020-04-03 20:09] emorale112 opened #378 "Regex not escaped properly"
**Describe the bug**
Regex pattern is not being escaped properly once in code

**To Reproduce**

1. add regex pattern on the form
2. switch to code view
3. view pattern has changed

**Expected behavior**
Pattern entered within the form should not be changed in the code

**Screenshots**
![2020-04-03_15-01-21](https://user-images.githubusercontent.com/23023200/78400543-8e4e0280-75bc-11ea-88a2-369ec2

[2020-04-03 21:55] emorale112 opened #379 "Wrap long enum list"
**Chore summary**
Prevent characters to run off-screen - wrap

**Tasks**
- [ ]items.enum with many values needs to wrap to a new line

**Additional context**
![2020-04-03_16-52-01](https://user-images.githubusercontent.com/23023200/78408010-b2651000-75cb-11ea-84d0-63f92f363b7c.png)

[2020-04-03 22:02] rossmcdonald opened #380 "Empty Stoplight config prevents Studio from opening project"
v1.11.0 desktop app on macOS

## To Reproduce

Add an empty file to `.stoplight.json`.

## Expected Results

Project would open as normal.

## Actual Results

Unable to open project, see this logged:

[code]

[2020-04-06 14:40] lucasmoreno commented on #132
@philsturgeon is there any planning to fix this issue in the near future?

[2020-04-07 09:46] Dakwamine commented on #132
Just wanted to add that editing the values in the UI erases the nullable keyword in the code, which is inconvenient.

[2020-04-07 10:04] philsturgeon commented on #132
@Dakwamine @lucasmoreno yeah absolutely. We’ve been planning dialect support for Oas2/3/3.1 and all the important JSON Schema drafts. If this issue looked quiet it’s because that’s a big load of work and it’s mostly been happening on slack. The requirements doc is ready, the design doc is coming.

Between the pandemic and a huge release coming this month, we’ve been somewhat halted progress on the

[2020-04-07 12:20] QuentinPetel commented on #202
Same here, consider the following :

[code]

and the path/messages.yaml :
[code]

No operations are shown neither under the api path list, neither under the path detail. Furthermore, adding an operation to the path should add the code inside path/messages.yaml not inside the root file.

The only solution working for now is to duplicate all API informations (security, servers, etc...) inside each r

[2020-04-07 16:40] marbemac opened #381 "Add support to docs preview for `examples` and `example` at the root of a schema"
**User story.**

As a stoplight user, I can do use the `examples` and `example` properties at the root of a schema, and they will be rendered in docs.

**Is your feature request related to a problem?**

There are three ways (🙄) to add root level examples to a schema (embedded in openapi, or standalone file).

- `x-examples`, proprietary, used in openapi v2 when multiple examples are needed
- `exam

[2020-04-07 18:04] #311 closed

[2020-04-08 02:50] alanwill opened #382 "Route /nodes.hash does not exist when publishing"
**Describe the bug**
Using Studio Version 1.11.0 (1.11.0.22031) and when publishing, getting `Route /nodes.hash does not exist` error. Also suddenly unable to commit as well to GitHub with a `HTTP Error: 404` error received.

**To Reproduce**

1. Given this OpenAPI document
2. Click this button Commit or Publish
3. 404 error when clicking on Push to Commit and `Route /nodes.hash does not exist` wh

[2020-04-08 03:31] ljian1992 opened #383 "Route /nodes.hash does not exist."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

1. Given this OpenAPI document '...'
2. Click this button '....'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (remove any that are not applicable):**
 - Studio

[2020-04-08 03:49] ljian1992 opened #384 "Route /nodes.hash does not exist"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

1. Given this OpenAPI document '...'
2. Click this button '....'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (remove any that are not applicable):**
 - Studio

[2020-04-08 04:21] JonDotsoy commented on #382
**Environment**

- Studio version: Version 1.11.0 (1.11.0.22031)
- OS: macOS 10.15.3 (19D76)
- Browser: Stoplight Studio APP

![image](https://user-images.githubusercontent.com/3086539/78743955-343b9d00-792e-11ea-9ccf-e727d67cfd70.png)

[2020-04-08 06:38] MinaAndLuoXia commented on #382
Me too,+1

[2020-04-08 06:42] alphasingh commented on #384
+1 and also an error while publishing as "Invalid cookie value"

[2020-04-08 08:00] waliente commented on #382
Me too, +1

[2020-04-08 08:45] KeiichiHonma commented on #382
Me too, +1

[2020-04-08 09:00] vancata-80 commented on #382
Me too, +1

[2020-04-08 11:09] petervukovic commented on #384
+1,  same error when publishing.

[2020-04-08 11:40] lutchobandeira commented on #382
Me too, +1

[2020-04-08 11:50] Jean-Regis commented on #382
+1

[2020-04-08 12:47] sgebb opened #385 "Move "discard changes" away from the commit button."
It's way too easy to accidentally revert all your changes, it also doesn't give you any "are you sure?" warning, and it's hard to tell what you actually reverted.

[2020-04-08 13:15] emilkholod opened #386 "Get some properties from model by ref"
As a I want to make reference to model property, I can do next:
- switch to form
- select model
- switch to code
- append some property from model.

There I add Pet id to response properties:
[code]

The goal is: let we have some endpoints that should return some property from model; then I would like have the same ref to model, than declare the same parameters of properties in all of the endpoint

[2020-04-08 15:06] edalford11 commented on #384
Same problem here in chrome on Linux. "Invalid cookie" error when trying to publish

[2020-04-08 15:21] danillos commented on #382
Me too, +1

[2020-04-08 15:23] danillos commented on #384
Same issue: https://github.com/stoplightio/studio/issues/382

[2020-04-08 15:24] danillos commented on #383
same issue https://github.com/stoplightio/studio/issues/382

[2020-04-08 16:47] Maks-Jago commented on #382
I have the same problem. +1 from me

<img width="307" alt="Снимок экрана 2020-04-08 в 19 46 40" src="https://user-images.githubusercontent.com/1841811/78810899-b29d4b00-79d1-11ea-910a-dfbaa7422f6a.png">

[2020-04-08 17:23] rossmcdonald commented on #382
Thanks everyone. We just a pushed a fix for this issue, so let us know if anyone continues to see errors.

[2020-04-08 17:23] #382 closed

[2020-04-08 17:23] rossmcdonald commented on #384
Dupe of https://github.com/stoplightio/studio/issues/382

[2020-04-08 17:23] #384 closed

[2020-04-08 17:23] rossmcdonald commented on #383
Dupe of https://github.com/stoplightio/studio/issues/382

[2020-04-08 17:23] #383 closed

[2020-04-09 00:44] alanwill commented on #382
Thanks @rossmcdonald that did fix publishing but Git push still doesn't work. I getting the following error still:

![image](https://user-images.githubusercontent.com/1929792/78846432-a1980e00-79c0-11ea-9076-6a226ba01280.png)

Is this related?

[2020-04-09 03:25] rossmcdonald commented on #382
@alanwill I believe that's unrelated to this issue. I think you may be running into [what's described here](https://support.stoplight.io/hc/en-us/articles/360036914232-Unable-to-clone-Github-repositories), but not 100% sure.

Feel free to send an email to support@stoplight.io if you continue seeing issues and we can take a closer look.

[2020-04-09 07:27] alanwill commented on #382
@rossmcdonald thanks for that hint. I ended up having to re-auth with github and that worked.

[2020-04-09 11:38] checkin247 opened #387 "Repeated alert for unspported transport protocoll"
**Describe the bug**
I am getting the following dialog about every minute. I do not want to use https, its getting very anoying to close that message every minute
![image](https://user-images.githubusercontent.com/12472764/78890927-d199ec80-7a66-11ea-9b98-0fc23f2d2b2f.png)

**To Reproduce**
Manage a project with git and ssh protocol

**Expected behavior**
Allow to not translate the git protocol an

[2020-04-09 15:08] philsturgeon commented on #190
Well this message aged badly.

<img width="341" alt="image" src="https://user-images.githubusercontent.com/67381/78910001-301d9580-7a7c-11ea-848b-35a754921761.png">

Still no OpenAPI 3.1.0-RC0, although we're expecting it any day now. Might literally be today, but we can't keep this waiting game going. I am going to turn #132 into an issue that resolved this in the short term, which makes this a d

[2020-04-09 15:08] #190 closed

[2020-04-09 15:40] philsturgeon opened #388 "Studio Type Arrays - Valid by Default"
**User story.**
As a Studio user who prefers to use Forms, and is not super familiar with OpenAPI v2/v3, JSON Schema, or the subtle but meaningful differences between them, I want to use the Forms view to generate OpenAPI descriptions for my API, so I can then use those descriptions in a variety of OpenAPI tooling. Having valid OAS is important to these tools, and I assume whatever Stoplight does

[2020-04-09 15:41] philsturgeon commented on #132
See https://github.com/stoplightio/studio/issues/388 which will solve this and the type array issue all in one.

[2020-04-10 00:47] marbemac commented on #388
The nullable bit is totally doable.

---

Don't forget about OpenAPI 3.1! So close :)

---

I am a bit concerned on the automatic `types` -> `oneOf` thing. It's more complicated than one might think, and there are a meaningful number of cases to consider to end up at a reasonable UX. More cases means more surface area for bugs and confusing things occurring if we attempt too much magic on behalf o

[2020-04-10 15:05] nunom-santos opened #389 "stoplight stopped commiting and cloning."
Stoplight desktop stopped being able to commit or clone repositories from github as of today,10/04/2020, at around 15h00 GMT
This does not happen in the web version, only on the desktop version.

To reproduce is enough to install stoplight (or use a installed instance) and try to clone a repository or make a commit into an opened one.

I tried in different computers with different connections to t

[2020-04-11 06:49] joonashak opened #390 "Integer type in schema does not show value constraints in preview"
**Describe the bug**
The preview pane does not show the minimum and maximum value constraints for a field of type `integer` in schema definition.

**To Reproduce**

1. Create a new endpoint (I used the POST method but that's probably not relevant).
2. Add an `application/json` request body.
3. Add a field of type `integer` to the payload object.
4. Add any minimum or maximum constraint in Addition

[2020-04-11 15:57] ijarinz commented on #340
I have the EXACT same issue. Had to turn repo public and published page displaying 404 instead :(

[2020-04-12 16:57] MikiLoz92 opened #391 "Shared response header displays `in: "header"` badge"
**Describe the bug**
When linking a response header to a predefined parameter header, the UI displays `in: "header"` as a badge, even though it is quite obviously a header.

**To Reproduce**
1. Make a shared header and put it in the `parameters` section of an API `components` (see image).
2. Link that header on a **Response Header**.

**Expected behavior**
Such badge should not be displayed (?)

*

[2020-04-13 20:59] MikiLoz92 opened #392 "allOf ref's are not properly displayed on the published docs"
**Describe the bug**
When composing a model of two other models' fields via `allOf`, in the preview of the Studio everything is displayed correctly. However, in the published docs, it is not (see screenshots).

**To Reproduce**

1. Create a model that references other 2 models via `allOf`.
2. Publish the docs, the rendering of that model is not correct.

**Expected behavior**
The published docs sh

[2020-04-14 13:00] checkin247 commented on #387
Feature can be turned off entirely by disabling "auto pull" in settings.
![image](https://user-images.githubusercontent.com/12472764/79227463-35a22380-7e60-11ea-970a-855e4b2ee9c7.png)

I still believe you @philsturgeon  may want to look into this.

[2020-04-14 14:09] philsturgeon commented on #388
🥳

Sadly we're really not even at v3.1.0-RC0 yet, despite it being released "any day now" since October 2019. Long story behind that for elsewhere. Then, we either need to offer a Stoplight replacement for every tool in users toolchain, or every other vendor our users integrate with need to be on 3.1.0, and that's gonna take months.

We can't rely on 3.1.0 to solve this problem, we can only rely o

[2020-04-14 14:16] philsturgeon commented on #388
We will need to have a similar UI for OAS2 regardless, because OAS2 does not have oneOf.

If we want to do the same thing for OAS3 initially, then follow it up with another PR a few weeks later which adds auto-oneOf as described in my last comment, this will stop people having to figure out how oneOf works (which is quite tricky for the sorts of user personas who are using Forms)

I'd be happy wit

[2020-04-14 16:53] rossmcdonald commented on #372
We are aware of this limitation, and have an issue open with #201 for addressing and documenting how users should work with Studio behind a proxy. Please follow that issue for future updates in this area.

[2020-04-14 16:53] #372 closed

[2020-04-14 21:38] jplotky opened #394 ""Clone failed with: HTTP Error: 404" when "include tutorial files" is checked"
**Describe the bug**
Freshly installed Stoplight Studio Version 1.11.0-build.22031 (040aeb3) on 64-bit Windows 10.  First time trying the software.  Entered a name in New Local Project, checked the "Include tutorial files?" box, and clicked Create.  The "Processing" bar showed for just a second, then red box in lower-right corner with error message in title.
Created account with email address, log

[2020-04-15 21:07] rossmcdonald commented on #394
@jplotky These are cloned from Github directly, so it could be something in between you and Github that is causing issues. Are you able to navigate to the repos directly? For example, does going to https://github.com/stoplightio/studio-demo work? Are you behind a corporate firewall or proxy that may explain the 404s?

[2020-04-15 21:17] emorale112 opened #395 "[v1] Prism generating an error, not validating pattern"
**Describe the bug**
In prod, Path parameter is not being properly validated

**To Reproduce**

1. Using the following spec:
[code]
2. Enable mocking under "TryIt Tab"
3. Navigate to Path Tab
4. Enter `123` as the value for userID

**Expected behavior**
Validation should occur since the parameter follows the declared pattern.

**Screenshots**
![2020-04-14_16-00-40](https://user-images.githubuserco

[2020-04-15 22:17] P0lip commented on #73
I used to be a Arch Linux user back in the day and faced a similar issue with Chromium.

I'm not 100% sure whether this will do the trick for you or not, since I no longer use Arch, so cannot verify it on my own, but here is something you might want to try out:
[code]

Obviously replace `stoplight-studio-linux-x86_64.AppImage` with the whatever Studio version you wish to use.
LMK whether it does t

[2020-04-16 14:46] jplotky commented on #394
Thanks.  I'm able to clone that repo without a problem using git.

I then made a new project from the clone using Add Existing Folder.  Studio recognizes it as a git repo and local commands like switching branches work fine.  But when I click on the "Pull latest from git repo" button I get a red error box saying "Pull failed with: HTTP Error: 404".  The URL for the origin remote is `https://github

[2020-04-16 16:22] iansan5653 opened #396 "Mock Server ignores examples"
**Describe the bug**
The mock server completely ignores examples and just returns whatever it wants to. It would be much better if it just returned the example data, or at least if there was an option to do that.

**To Reproduce**

1. Create a response with a property and give it an example value, ie:
[code]
2. Start the mock server
3. The mocked field will respond with something like "culpa minim

[2020-04-16 19:50] Pazns commented on #394
While using a fresh AppImage running on Fedora 30,
When trying to boot a new project including tutorial files,
I got the same issue and the exact same error message.

I opened the Developer tools of the electron app and looked at the Network tab, only to find that when creating a new project including tutorial files, the app tried to GET this url :
`https://stoplight.io/api/github.com/stoplightio/

[2020-04-17 08:16] azhar-gruff commented on #97
I have the free download studio app.   My github repository was private so the published documents were not visible.
But I changed it to public and republished my docs.  My docs still cannot be viewed.

What can I do?

[2020-04-17 22:52] edalford11 commented on #285
This hash happened to me for the second time in the past week. The issue is definitely still present

[2020-04-19 13:47] drewjoh opened #397 "Stoplight Studio crashes at Login"
**Describe the bug**

Stoplight Studio crashes after cloning a repo, and when trying to login.

**To Reproduce**

1. After cloning a private Github repository with an existing Stoplight Studio project in it, Stoplight Studio crashes.

2. After reopening the app, clicking "Login" brings up a smaller window (presumably the login window), then crashes the app.

**Expected behavior**

Expect to be abl

[2020-04-20 15:04] vanpho93 opened #398 "Bug"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

1. Given this OpenAPI document '...'
2. Click this button '....'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (remove any that are not applicable):**
 - Studio

[2020-04-20 22:41] P0lip commented on #331
This should be fixed in the next version, 1.12.

[2020-04-20 23:31] johandalabacka commented on #322
I see that in the latest version of Stoplight Studio (Version 1.11.0 (1.11.0.22031) you have implemented this:

![image](https://user-images.githubusercontent.com/9607173/79808838-49252100-836f-11ea-813e-90e796f25672.png)

However. If I set Disable Security for operation must I first set a security and then remove to completely remove the setting for one operation. It  would be nice to have means

[2020-04-21 18:40] #380 closed

[2020-04-21 22:04] mallachari commented on #381
@marbemac just to clarify what is expected here.
We already support `examples`+`example` in oas3 - they are combined together (default tab for `example` and named tabs for `examples`). Though it is not at the root of schema, rather adjacent to it. Should we support `x-examples` for oas3 as well? And also inside schema?
As for oas2 we support `examples` for responses (spec defines it only here), an

[2020-04-22 10:00] chulucninh09 commented on #340
Seemed like the problem happened to me too. Is this a problem with github or the problem of Spotlight itself? Instead of waiting, do we have any other workaround?

[2020-04-22 11:30] vinczente commented on #340
@chulucninh09: when creating a new project start with the github url and then all should work

[2020-04-22 17:19] ianbeck commented on #135
Please fix this. This is a major source of friction in our usage of Stoplight Studio, to the point that it is contributing to an internal movement to migrate to using Postman for API docs (all our endpoints are in there already, even if the documentation aspect is very basic and design-first approach is a lot harder). I am one of the few people in the office who is still doggedly using Stoplight S

[2020-04-22 19:05] robbiehanson opened #399 "Unable to create project with "Include tutorial files" enabled"
**Describe the bug**
I was following along with the [documentation](https://stoplight.io/p/docs/gh/stoplightio/studio/docs/Documentation/01-getting-started.md?srn=gh/stoplightio/studio/docs/Documentation/01-getting-started.md), and attempted to create a project with "Include tutorial files?" enabled. However, I'm unable to do this, as it gives me an error every time:

"Clone failed with: HTTP Erro

[2020-04-24 04:59] 0ttik commented on #135
I'd say that this is pretty critical bug to my use case which is editing model with lots of fields.

I also would add to that a related feature request which is:
1) Add UI drag&drop sorting in Model objects
2) Add alphabetical sorting which is quite useful for managing models with lots of fields

[2020-04-24 11:46] mallachari commented on #135
@ianbeck @0ttik we are currently working on keeping order of properties so that should be added soon.

[2020-04-24 13:53] rossmcdonald commented on #398
Please provide more information if there is an issue.

[2020-04-24 13:53] #398 closed

[2020-04-24 13:56] rossmcdonald commented on #343
For anyone who runs into this issue, we have an article that outlines the possible solutions [here](https://support.stoplight.io/hc/en-us/articles/360036914232-Unable-to-clone-Github-repositories).

[2020-04-24 13:56] #343 closed

[2020-04-24 13:57] rossmcdonald commented on #399
Thanks for reporting @robbiehanson! This issue has already been filed under #394. Please follow that issue for updates.

[2020-04-24 13:57] #399 closed

[2020-04-24 14:45] emorale112 opened #400 "Unexpected schema in docs for items > anyOf"
**Describe the bug**
When publishing an array[object] within models, the docs do not publish the expected schema.

**To Reproduce**

1. Using the following model:
[code]
2. Select Publish and either preview or publish
3. Dos do not show model, only an empty array[object]

**Expected behavior**
The defined schema should be published on the Docs

**Screenshots**
![2020-04-24_09-31-40](https://user-i

[2020-04-24 19:28] jpyrichjc opened #401 "Stop prompting me about "Unsupported Transport Protocol""
**Describe the bug**
I am getting repeated popups about an "Unsupported Transport Protocol". Stoplight Studio does not support SSH URLs, only HTTPS URLs. This is fine, because I am not using Stoplight Studio to commit to my repo. But the popup keeps appearing, interrupting my work. It's very annoying.

If I do click "Translate URL", it complains that it could not access the Git Repository because

[2020-04-24 22:04] SiBell commented on #373
This is no longer a problem. You can close this issue.

I don't believe I've changed anything drastic at my end. I suspect an update to Studio has fixed this.

[2020-04-25 13:44] bkonia opened #402 "Problems with web component embedding"
I tried embedding my docs into my site using your web component embedding method. Everything works fine, except when you mouse over the property descriptions, the tooltips don't render correctly. The tooltip text either doesn't display at all, or it displays in the wrong location, overlapping other text. Also, it displays a weird looking black triangle in the location where the tooltip would norma

[2020-04-27 12:05] checkin247 commented on #401
@jpyrichjc then turn it off as described in this issue #387

[2020-04-27 16:52] jpyrichjc commented on #401
Oh goodness. Thank you. Not sure how I missed that. I'll close this one since it duplicates that one.

[2020-04-27 16:52] #401 closed

[2020-04-28 14:36] #373 closed

[2020-04-29 09:58] mallachari commented on #293
Looks like it is already solved. When deleted it stays with currently selected operation.

![Peek 2020-04-29 11-56.gif](https://images.zenhubusercontent.com/5d3eb13f99357a3001f5f485/db072add-276e-4a30-98af-e9ffeffc17ff)

[2020-04-29 10:05] jamierumbelow commented on #293
Excellent!

[2020-04-29 10:05] #293 closed

[2020-04-29 19:11] philsturgeon commented on #396
Sounds like you’re running it in dynamic mode not static mode. Which mock server are you using and where. Studio Desktop has local mock server or hosted mock server. Studio Web only has hosted mock.

[2020-04-29 19:21] iansan5653 commented on #396
I'm using the local mock server on Studio Desktop. How can I change it into static mode?

[2020-04-29 21:09] cebe commented on #73
looks like you can fix it by changing permission on the chrome-sandbox binary inside of the package:

https://github.com/electron/electron/issues/17972#issuecomment-487369441

[2020-04-29 21:12] cebe commented on #73
the steps described by @P0lip work for me too, so if you fix this inside of the image, that should solve the problem.

[2020-04-29 21:21] philsturgeon commented on #396
Ahh I see. When using the "Try it Now" panel you can pick the mode here:

<img width="521" alt="image" src="https://user-images.githubusercontent.com/67381/80648097-78bae400-8a67-11ea-8f78-43e7bd777699.png">

When talking to the server directly it's a little more hands on, and can be done with a `Prefer: dynamic=false` header.

[code]

Really we should let folks pick the mode in the Mock Server pa

[2020-04-30 13:04] P0lip commented on #356
@philsturgeon  @maennel
My apologies for the delayed response, I missed this one.
I'm afraid this is not going to be fixed for now, as we don't really support Core Schema *at the very moment*. Although the values being parsed correctly, we aim to support JSON Schema for tag resolution, so certain values will be formatted according to that schema.

[2020-04-30 13:28] dgrstl commented on #112
@lottamus We can probably close this.

[2020-04-30 21:21] rossmcdonald commented on #294
@mallachari Where are we with this one?

[2020-04-30 21:23] rossmcdonald commented on #337
Fixed in v2, closing.

[2020-04-30 21:23] #337 closed

[2020-05-02 17:46] TylerNielsen opened #403 "Only able to view one page while in publish preview (Windows 10, v1.11.0)"
**Describe the bug**
When I go to publish documentation from Stoplight studio with Windows 10 and version 1.11.0 and toggle the "Show Preview" slider, the navigation renders and the page that I was viewing before clicking "publish" displays, but I cannot switch between any other documents in the preview. I'm stuck on the one page that was originally displayed.

**To Reproduce**
1. On the version o

[2020-05-02 19:20] vintprox commented on #364
Yeah, I am completely misguided now, when I just happened to find some decent documentation suite for REST APIs, which is Stoplight, and it basically crashes when I send simple request. I am looking forward for the update! 💯 🔆

[2020-05-03 09:35] kannkyo opened #404 "Int64 value is rounded up by request maker"
**Describe the bug**

The int64 value is rounded up by the request maker.

I want to write this json in Body tab in the request maker.

[code]

But `petId` in original request is rounded up. (`-9223372036854775808` -> `-9223372036854776000` ) And I get `400 bad requests` because of out of range.

[code]

**To Reproduce**

1. Import https://petstore.swagger.io/v2/swagger.json
2. Show request maker

[2020-05-04 15:22] martinberlin opened #405 "Usable vertical scroolbars"
**Chore summary**
Please add usable vertical scroolbars

**Tasks**
- [ ] Add normal width scrollbars (and not the 4/5 pixels exisiting ones)

**Additional context**

I'm talking about how the AppImage software works in Linux. It shows very unusable vertical scrollbars that are hard to manouver. A scrollbar should have a minimum usable width just as the scrollbar that is seen here on github when we

[2020-05-04 19:42] emorale112 opened #406 "Unable to view HEAD method on published doc (light theme)"
**Describe the bug**
When HEAD HTTP method is defined, the published docs display white on white font.  Unable to see unless the test is highlighted. This is present only on the light theme, dark thems appears unaffected.

**To Reproduce**

1. Add HEAD HTTP method to any path in studio.
2. Publish Docs, issue present on Preview as well.
3. See issue

**Expected behavior**
Should be able to see HEA

[2020-05-05 15:33] svassaux commented on #202
@philsturgeon it's becoming critical: I have an API with only 50 endpoints and my file makes 12k lines
studio desktop is lagging enormously, the working conditions are becoming bad and make us think about choosing another solution.

[2020-05-05 16:39] stephenlprice opened #407 "Discarding Changes on Empty Repo --> could not find refs/heads/master"
**Describe the bug**
When a user clones an empty repository with Studio V1. They add new files to the repository to test the product and then "discard all changes" to remove their tests, Studio returns the following error message:

Reset failed with: could not find refs/heads/master

This was experienced on both Gitlab and Github.

**To Reproduce**

1. Clone an empty repository
2. Add a few OAS fi

[2020-05-05 16:47] stephenlprice opened #408 "Clone Gitlab browser URL returns unclear 301 response"
**Describe the bug**
When a user incorrectly clones a Gitlab project using the browser URL, Studio returns an unclear 301 response. The solution is to use the correct git URL instead. We can make the solution more obvious by suggesting that the user verify that they are using the correct git clone URL for their VCS.

**To Reproduce**

1. Clone a Gitlab project using the browser URL
2. Studio retur

[2020-05-05 17:38] philsturgeon commented on #202
@svassaux I can see how it looks like things have quietened down on the Desktop front but that's the quiet before a v2.0.

In a few days v1.12 will be here fixing a few more bugs, many of which were on our internal tracker and not showing up on the issues list here.

I'll check with the team where this one is.

[2020-05-05 17:39] philsturgeon commented on #202
@svassaux wait why is your file 12k lines? Not being able to have a $ref for a path item does not mean you cannot use $ref... There's loads of ways to break files up with $ref, this is the only one not currently supported.

[2020-05-05 17:46] nbrugger-tgm opened #409 "[BUG] VERY CRITICAL - Saving results in empty OAS file"
**Describe the bug**
I have a OAS file and I added a few paths with Stoplight studio. Then i pressed `STRG` (`CTRL` on english keyboard) + `S` and closed Stoplight with the Cross in the corner after the whie dot beside the spec file was gone.

As i tried to generate a HTML out of it the file was empty. In panic i reopened Stoplight but it also told me the file is empty. (a look into the file with

[2020-05-05 21:03] lottamus commented on #408
Hey @stephenlprice, can you provide an example of the Gitlab browser URL that did not work and the clone URL that did work?

[2020-05-05 21:15] svassaux commented on #202
@philsturgeon I know. You made me doubt I was using things correctly.
I have
- 123 routes (combinations of paths and methods)
- those routes use 25 models all linked with $ref(s), I never repeat a model
- and I document a lot, I put all details : query parameters, bodies, responses, examples, qualification and description for every parameter, etc.

I would be able to reduce the total size if I use

[2020-05-05 21:21] philsturgeon commented on #202
Cutting it by paths _is_ super logical, I've done things this way in the past. It's coming, we've got a bug we're fixing higher up the foodchain which will clear the way for solving this, and the team are on top of it.

@lottamus can we add a bunch of tests around `$ref` for shared examples too? The ones that sit in components. That'd solve both of the issues for @svassaux!

[2020-05-05 21:45] rossmcdonald commented on #402
@bkonia Sorry for the delay! We actually pushed out a fix late last week that should resolve this issue. Let us know if you keep seeing this issue.

[2020-05-05 21:45] #402 closed

[2020-05-05 21:47] philsturgeon commented on #390
Pretty sure we took care of this one already. @lottamus can you confirm?

[2020-05-05 21:51] philsturgeon commented on #389
Hey @nunom-santos. Do you have any more information we can possibly use, because "cloning a repo" is one of the hundreds of automated tests we have on our E2E testing which we make sure works just fine on release.

Most likely something else is going on here, could you maybe open upthe developer console and see if there's more information hiding in there?

<img width="399" alt="Screen Shot 2020-05

[2020-05-05 21:52] philsturgeon commented on #367
This got sorted out, expect to see improvements in v1.12 coming out any day, and more improvements coming in v2.0. 🎉

[2020-05-05 21:52] #367 closed

[2020-05-05 21:54] philsturgeon commented on #264
Great news! This has been sorted out and will be ready in v1.12 which is coming any day now.

[2020-05-05 21:54] #264 closed

[2020-05-05 21:55] philsturgeon commented on #290
<img width="1046" alt="image" src="https://user-images.githubusercontent.com/67381/81119842-7f43d280-8f23-11ea-902e-7dd01b2166ad.png">

Fixed in Studio v1.11.

[2020-05-05 21:55] #290 closed

[2020-05-05 21:56] philsturgeon commented on #281
Looks like we fixed this one, sorry for not noticing the issue.

<img width="569" alt="image" src="https://user-images.githubusercontent.com/67381/81119941-abf7ea00-8f23-11ea-9f2e-a731344c552f.png">

[2020-05-05 21:56] #281 closed

[2020-05-05 21:58] philsturgeon commented on #214
Loads of UI work has been done for v2 which is on its way, so please give us feedback on the new version when you get to play with it. :)

[2020-05-05 21:58] #214 closed

[2020-05-05 22:02] philsturgeon commented on #125
Inside a schema it works fine:

<img width="410" alt="image" src="https://user-images.githubusercontent.com/67381/81120244-34768a80-8f24-11ea-9514-564183a30bf8.png">

x-example is not definiable for query parameters:

<img width="710" alt="image" src="https://user-images.githubusercontent.com/67381/81120307-596afd80-8f24-11ea-8396-b9c836bffacd.png">

@lottamus can we add this to the keyword suppor

[2020-05-06 00:51] XVincentX commented on #395
@ssspear Can you take a look at this?

[2020-05-06 09:43] nunom-santos commented on #389
Hello @philsturgeon,

I've been using the web version since the desktop version had the error, even after reinstalling.
Upon your message, I downloaded and installed once again.
Well, it worked successfully, this time, without the error reported.

However, following your sugestion, on the developer console appeared an error that also appears on the web version.

![image](https://user-images.github

[2020-05-06 13:15] philsturgeon commented on #389
I’m glad it’s working! If anything like the error you we’re having before happens again, check the console log and send things along so we can try and figure it out. Intermittent issues are the hardest to fix.

[2020-05-06 13:15] #389 closed

[2020-05-06 13:18] nunom-santos commented on #389
Certainly. I'll do that.
Indeed they are the hardest to fix. I understand that.
Thank you once again.

[2020-05-06 15:16] wmhilton commented on #377
Closed in https://github.com/stoplightio/platform-internal/pull/1975

[2020-05-06 15:18] wmhilton commented on #377
Er... didn't mean to close this until 1.12 is released.

[2020-05-06 15:38] wmhilton commented on #294
In principle, this won't be an issue in v2. Studio Desktop no longer uses our API so it will show a 404 or whatever HTTP response for "that URL doesn't exist". Studio Web no longer lets users clone repos that haven't been added to a workspace, so the possibility that the repo doesn't belong to an external service is zero or near zero.

Do we want to change the PR to target v1 maybe?

[2020-05-06 15:52] P0lip commented on #390
@philsturgeon I can confirm it, as I've already fixed the issue recently. :sweat_smile:
It's still not published however, so you'll need to wait a bit - hopefully it make its way in one of the next releases.
Will let you know once it's out.

[2020-05-06 17:12] ssspear commented on #395
After conversing with @emorale112, we are not able to re-create this issue anymore. Closing as it is likely resolved.

[2020-05-06 17:12] #395 closed

[2020-05-06 18:10] mnaumanali94 opened #410 "Support for multiple security requirements i.e `AND` as defined in OpenAPI"
**User story.**
Some APIs support multiple authentication types with the need to apply them together. As a user I would want to apply a combination of authentication types on the Global and endpoint level.

**Describe the solution you'd like**
This is covered by the OpenAPI specification by making the security section an array of hashmaps where an array contains a list of combinations of authentic

[2020-05-06 18:51] philsturgeon opened #411 "Rename "Validations" and "Additional Properties" to "Other Properties""
Studio inconsistently refers to things as Validations (when they might contain things other than validations) and "Additional Properties" (which is awkward because a keyword exists called `additionalProperties` and it's not this).

<img width="502" alt="image" src="https://user-images.githubusercontent.com/67381/81216434-cb018500-8fd2-11ea-9c6f-b6ce6e353cdd.png">

The tooltip that says "Validation

[2020-05-06 18:58] #322 closed

[2020-05-06 20:01] mallachari commented on #411
@philsturgeon how about type validations sections? Should we use `String Properties`, `Subtype Number Properties` instead of `String Validations` and `Subtype Number Validations`? They too may contains properties that are not validations.

[2020-05-06 20:17] mallachari commented on #294
I moved it to v2 to check if it's still valid there. It indeed not anymore.
@lottamus should we retarget it to v1? I remember you saying to close it if it's not relevant for v2.

[2020-05-06 21:34] stephenlprice commented on #408
@lottamus sure let me contact the person I was working with to see if he can share them with me.

[2020-05-07 02:22] wmhilton commented on #322
Ah, good point @johandalabacka! For an upcoming release we'll add the ability to _toggle_ the no security override.

[2020-05-07 13:07] P0lip commented on #368
This will be out in v1.12, expected to be released soon.

[2020-05-07 13:07] #368 closed

[2020-05-07 13:07] P0lip commented on #390
This will be out in v1.12, expected to be released soon.

[2020-05-07 13:07] #390 closed

[2020-05-07 14:18] canvural commented on #347
Also, looks like there is no UI to add the global tags.

[2020-05-07 14:35] philsturgeon commented on #411
Yeah let's just make it String Properties etc for now.

[2020-05-07 14:56] stephenlprice commented on #408
@lottamus the customer responded with the following:

Browser URL was this - https://gitlab.com/atulkp/common_apispecstore_v1_rep
HTTP Clone URL was this - https://gitlab.com/atulkp/common_apispecstore_v1_rep.git

[2020-05-07 19:34] brandonjmckay commented on #366
How can you handle this in the web studio version for now?
Once there's a merge conflict, how can you get the web version to be reverted?

[2020-05-07 20:58] #406 closed

[2020-05-07 22:06] P0lip commented on #409
Hey @nbrugger-tgm
My sincere apologies for any inconvenience caused. Es tut mir wirklich sehr leid :disappointed:
Data loss is always painful and under no circumstances should happen.
There is little chance the content has been retained in the stash store, therefore let's verify it.
Assuming you still have the project in Studio, could you please open dev tools as shown below
![image](https://user-

[2020-05-08 02:12] marbemac commented on #381
Hmm, `example` does not seem to work for me?

<img width="1158" alt="Screen Shot 2020-05-07 at 9 10 58 PM" src="https://user-images.githubusercontent.com/847542/81362771-40d72080-90a7-11ea-93e9-e772dd03a51c.png">

In any case, unless it is difficult I think we should support `example`, `examples`, and `x-examples` in schemas, wherever they are defined (oas2, oas3). The form editor won't necessaril

[2020-05-08 14:56] rossmcdonald opened #412 "Do not remove directories that Studio did not create"
## To Reproduce

- In Studio Desktop, use 'Open Existing Folder' to open a folder
- Navigate back to landing screen and click "X" to remove project from Studio

## Current Results

User is presented with "Confirm" and "Confirm and remove files". While this is fairly clear, the "remove files" is open to interpretation as to what exactly will be removed. We heard from a user who believed this was in

[2020-05-08 16:50] maennel opened #413 "Potential saving race-condition with large OpenAPI documentation files"
**Describe the bug**
Stoplight Studio overwrites manual changes in large OpenAPI documentations  (>5k lines with references to further OpenAPI files holding schemas and parameters).

This is possibly related to #409.

**To Reproduce**
- Have a large OpenAPI documentation.
- Have Auto-Save enabled.
- Do 5-6 small changes in a row (for example replace a part in some paths, i.e. `/users/{userId}/port

[2020-05-08 18:08] demitri opened #414 "Spotlight Studio is rounding 64-bit integers when used as a path parameter."
I have a path parameter that takes a 64-bit int value. When I enter "6917528997577384320" as the maximum value under valuations, Studio silently changes it to "6917528997577384000". If I enter the value directly in the code, the rounding still occurs.

I realize this is just a type hint, but setting the format under schema properties to "int64" doesn't fix the problem.

This causes a problem as th

[2020-05-08 22:01] demitri commented on #414
Related this: when one enters a "maximum" value in the integer validation field (see above), then deletes it, the line `"maximum" : ""` remains in the schema and is displayed in the output with no value:

<img width="185" alt="blank_value" src="https://user-images.githubusercontent.com/64314/81452816-df21bf80-9155-11ea-97c7-c4315c10ce9a.png">

[2020-05-09 12:01] simoalex opened #415 "GUI generate wrong syntax for object inside allOf"
**Describe the bug**
Issue is about OpenAPI 3.x YAML.
I'm using allOf inside anyOf.
allOf contain an object and $ref.
If I make this thru GUI it makes an object with "children" parameter and this is wrong - it will be not visible in Preview. Also linter shows an error.
If I manually remove "children" and add "properties" (what is correct) - it will be visible in Preview, no linter errors, but not

[2020-05-09 14:52] mallachari commented on #411
Added with https://github.com/stoplightio/platform-internal/pull/1490

[2020-05-10 17:31] philsturgeon commented on #411
Thank you!

[2020-05-10 17:31] #411 closed

[2020-05-11 10:33] mallachari commented on #381
@philsturgeon I'm going to add support for schema examples to the docs. There are couple of ways we could do that. Here's how I think it could work. Could you see and share your thoughts?

### Schema models

We are currently picking one of two: `x-examples` and `examples`.
`example` is valid keyword so we could pick one of three `examples` > `x-examples` > `example`.

### OAS3

OAS3 request and re

[2020-05-11 10:50] P0lip commented on #415
@simoalex
Hey!
For the sake of UX, preview pane displays schema with each allOf merged.
We leave the actual document untouched, meaning allOfs are retained.

This might be unrelated, since we actually do not touch the document at all.
What is the linting issue? Perhaps there is something else going wrong here.

I hope that makes sense!

[2020-05-11 11:03] P0lip commented on #414
Hey!
The value gets indeed clamped, as we currently do not support integers higher than 2^53 - 1.
Basically the range we handle at the moment is [-(2^53 - 1), 2^53 - 1], and obviously not all 64-bit integers fit within this range.
I'll try to add support for 64-bit integers, though it's unlikely it'll be supported in the whole ecosystem right away, so I suggest keeping this issue open.

[2020-05-11 12:26] simoalex commented on #415
Hi @P0lip!
Thanks for a fast response.
On these screenshots there are two different situations. I will try to explain this bug again. Sorry for unclear screenshots.

How to reproduce:
1. Make a new path with POST
2. Add body to the response
3. Using GUI add object { name: string }
4. Add "anyOf" on the top

Everything is fine, GUI added "properties" for object as it should be (see https://swagger.

[2020-05-11 19:16] MikiLoz92 opened #416 "[URGENT] Docs fails to find ALL references on OpenAPI models"
**Describe the bug**
A set of APIs that were being displayed correctly up until now (no commits have been made since) have decided to stop working recently. When accessing any model on the Docs, references cannot seem to be parsed and the model displays a myriad of errors (see screenshot).

**To Reproduce**

1. Create a model that references other models
2. Publish to Docs
3. Go to that model in D

[2020-05-11 19:26] rossmcdonald commented on #416
@MikiLoz92 Can you send us an email at support@stoplight.io? We'll need to take a closer look to see what might be going wrong here.

[2020-05-11 19:26] #416 closed

[2020-05-11 20:30] philsturgeon commented on #381
This is the worlds most confusing topic, so good job being extra clear.

@marbemac this doesn't look like a valid piece of OpenAPI.

![image](https://user-images.githubusercontent.com/67381/81608476-3fbb3180-93ce-11ea-9bef-0a6f4299f33f.png)

The `example-21` key looks like a named example, which is only possible in a Media Type Object and not a Schema Object.

@mallachari @marbemac Settle in for a

[2020-05-11 21:51] mallachari commented on #381
Marc was referring to standalone schema file. `example-21` is rather a value of example property, not its name.

Wait but earlier you wrote

then I'm assuming that we can still use `examples` from schema object if there are no media type examples?

That would refer to standalone schema object file. Currently we are supporting `examples` and `x-examples` there, picking one of them.

Thanks for look

[2020-05-11 22:48] P0lip commented on #135
Hey folks!
Wanted to let you know the fix has been merged recently, therefore one of the upcoming versions should come with improved ordering.

[2020-05-11 22:50] P0lip commented on #415
@simoalex
Thanks a lot for following up!
Yeah, it does make sense now and the output is in fact broken.
I'm going to address this issue.

[2020-05-12 09:23] MikiLoz92 commented on #416
Hello,

Sending this email in reference of the GitHub issue below.

Regards,
Miguel.

El lun., 11 may. 2020 a las 20:26, Ross McDonald (<notifications@github.com>)
escribió:

[2020-05-12 14:43] emorale112 opened #417 "Path Parameter not recognized by forms editor"
**Describe the bug**
Spectral should not kick back an error since the path parameter is set correctly

**To Reproduce**

1. upload oas3 files from examples/v3.0 folder from [public repo](https://github.com/OAI/OpenAPI-Specification) to a project in studio
2. open link-example.yaml spec in Studio
3. open /2.0/users/{username} route
4. click 'path parameters' button next to the path
5. click + next

[2020-05-12 17:25] philsturgeon commented on #381
@mallachari sorry good catch, I've updated my comment in regards to OAS3 Schema Object `examples`, specifically:

Next bit:

The example provided does not match up to the properties mentioned, so maybe im just a little confused about what is being requested.

[code]

Nearly on the same page!

A looks like this in Prism, which is correct:

<img width="1040" alt="Screen Shot 2020-05-12 at 18 02 55"

[2020-05-13 00:22] gabrieldissotti opened #418 "Bug on publish projects"
**Describe the bug**
I cant publish a project

**To Reproduce**

1. Create an API project
2. Click on Publish and login
3. The applications will show a new window in url: https://stoplight.io/p/docs

**Expected behavior**
Get a public link of documentation

**Screenshots**

(Step 2)
![- Captura de tela de 2020-05-12 21-13-10](https://user-images.githubusercontent.com/33178519/81757523-8aec4780-949

[2020-05-13 00:30] gabrieldissotti commented on #418
Now I have created a project in github, then I have created a project in spotlight studio clonning this repository, finally I can publish my project, therefore, the error occurs just when a create a project without a github repository. Can be my OS that not shows the login modal correctly.

[2020-05-13 18:19] stephenlprice opened #419 "Support XML examples for schemas"
**Describe the bug**
As an API designer I am happy to define my schemas using JSON, however these endpoints are also capable of producing and consuming XML. Therefore I would like my docs to provide XML examples to make my docs consumers aware of this option.

**To Reproduce**
1. Given any test API document, add a new endpoint and then add new request and response bodies accepting application/xml

[2020-05-13 22:22] amrdraz commented on #418
It's not OS specific I experience the same thing

[2020-05-13 22:28] amrdraz opened #420 "Org repo gets published but is published under account handle instead"
**Describe the bug**
When publishing a repo that is under an org it is published on stoplight studio under the account user name and not the org user name, as a result when I hit the Docs button I get the screen telling me to publish.

**To Reproduce**

I'm not sure if this applies in general but my specific case was

1. create a repo under your user account
2. add it to stoplight studio
3. import

[2020-05-14 07:59] NikVandewouwer opened #421 "Enums not converted to type of attribute"
**Describe the bug**
By default every new attribute you add to a schema is of type string so if you add enums for this attribute they are also defined as string enums.

If you change the type of the attribute to integer after you have defined the enums, the values of the enum stay string:

`
"test": {
      "type": "integer",
      "enum": [
        "1",
        "2",
        "3"
      ]
    }`

Th

[2020-05-14 14:39] nbrugger-tgm commented on #409
## Recovery
With the VCS used and a File Recovery Software wich operates on hardware level (i guess) we got back most of the progress. Half of the sprint is gone but this is ok so far.
## Help for the bug

Yes

I use the code editor too but this time (the whole session) i only used the form/gui editor

Yes, the time between `STRG+S` was aproxemately 1-3 secs. Anyway i did waited for the white poin

[2020-05-14 22:48] demitri commented on #414
Thanks for the update!

[2020-05-15 14:06] rossmcdonald commented on #112
Fixed with upcoming v2 release.

[2020-05-15 14:06] #112 closed

[2020-05-15 14:08] rossmcdonald commented on #189
No longer relevant with Studio v2.

[2020-05-15 14:08] #189 closed

[2020-05-15 14:22] rossmcdonald commented on #252
This is mostly fixed with the default Spectral validation, which will present a warning if either oneOf or anyOf are used:

<img width="753" alt="image" src="https://user-images.githubusercontent.com/4060903/82060785-7377af00-968d-11ea-9a4d-fbe69505d5de.png">

I think that's good enough for now.

[2020-05-15 14:22] #252 closed

[2020-05-15 14:27] rossmcdonald commented on #102
Closing in favor of #210.

[2020-05-15 14:27] #102 closed

[2020-05-15 19:14] emorale112 commented on #417
@thecpdubguy Please follow the progress here.